= form_with(model: @user, local: true,url:"/signup/phone_number",method: :get) do |f| 
  .form
    =f.label :password, "パスワード"
    %span.form-necessary 必須
    %br
    =f.password_field :password, placeholder:"7文字以上"
  .form
    = f.label :password, "パスワード(確認)"
    %span.form-necessary 必須
    %br
    =f.password_field :password_confirmation ,placeholder:"7文字以上"