<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="assets/stylesheet" href="/style.scss">
    <link rel="assets/stylesheet" href="normalize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="assets/stylesheet" href="user_bg.jpg" type="text/css">
    <link rel="assets/stylesheet" href="download_bg_pc.jpg" type="text/css">
    <title>マイページ</title>
  </head>
  <body>
      <header class="header">
      <div class="menu_bar">
        <div class="headup">
          <div class="mercarilogo">
            <a>
              <img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg" alt="Mercari" class="logo_img">
            </a>
          </div>
          <form action="" class="form">
            <input class="search_form" type="text" name="keyword" placeholder="何かお探しですか？" value>
            <button class="search_button">
              <svg aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" class="button_a">
                <path fill="currentColor" fill-rule="nonzero" d="M11.435 10.063h-.723l-.256-.247a5.92 5.92 0 0 0 1.437-3.87 5.946 5.946 0 1 0-5.947 5.947 5.92 5.92 0 0 0 3.87-1.437l.247.256v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 0 1 1.83 5.946 4.111 4.111 0 0 1 5.946 1.83a4.111 4.111 0 0 1 4.117 4.116 4.111 4.111 0 0 1-4.117 4.117z"></path>
              </svg>
            </button>
          </form>
        </div>
        <div class="headdown">
          <div class="search">
            <div class="search_category">
              <a href="/jp/category/" class="search_category_link">
                <svg aria-hidden="true" width="20" height="16" viewBox="0 0 20 16" class="category_icon">
                  <path fill="currentColor" fill-rule="nonzero" d="M18.799 15.25h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zM2 16a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"></path>
                </svg>
                カテゴリーから探す
              </a>
            </div>
            <div class="search_brand">
              <a href="/jp/brand/" class="search_brand_link">
                <svg aria-hidden="true" width="23" height="16" viewBox="0 0 23 16" class="brand_icon">
                  <path fill="currentColor" fill-rule="nonzero" d="M6.315 0L4.473 1.806 2.833.019.73 1.977l1.69 1.84L1.198 5.02c-1.594 1.594-1.594 4.188-.01 5.772L6.3 16h13.272a3.08 3.08 0 0 0 3.077-3.077V3.076A3.08 3.08 0 0 0 19.57 0H6.315zm13.46 12.925a.211.211 0 0 1-.205.205H7.504L3.227 8.771a1.226 1.226 0 0 1-.01-1.71L4.38 5.92l1.28 1.371a2.68 2.68 0 1 0 2.13-1.93L6.433 3.907 7.49 2.87h12.082a.211.211 0 0 1 .206.205v9.848h-.002z"></path>
                </svg>
                ブランドから探す
              </a>
            </div>
          </div>
          <div class="user_page_links">
            <ul class="user_links">
              <li class="like">
                <a href="/jp/like/" class="like"><span>いいね！一覧</span>
                  <svg aria-hidden="true" width="16" height="15" viewBox="0 0 16 15" class="sc-hSdWYo sc-hrWEMg elIJWw">
                    <path fill="currentColor" d="M8.08 12.711l-.08.082-.08-.082C4.112 9.188 1.6 6.858 1.6 4.496c0-1.635 1.2-2.861 2.8-2.861 1.232 0 2.432.81 2.856 1.929h1.496c.416-1.12 1.616-1.93 2.848-1.93 1.6 0 2.8 1.227 2.8 2.862 0 2.362-2.512 4.692-6.32 8.215M11.6 0C10.208 0 8.872.662 8 1.708 7.128.662 5.792 0 4.4 0 1.936 0 0 1.978 0 4.496c0 3.09 2.72 5.608 6.84 9.433L8 15l1.16-1.079C13.28 10.104 16 7.586 16 4.496 16 1.978 14.064 0 11.6 0" fill-rule="evenodd"></path>
                  </svg>
                </a>
              <li class="notice">
                <a href="/jp/notification/" class="notification"><span>お知らせ</span>
                  <svg aria-hidden="true" width="14" height="16" viewBox="0 0 14 16" class="sc-kgoBCf sc-iQKALj kjjLAK">
                    <path fill="currentColor" fill-rule="nonzero" d="M6.592 16c.89 0 1.632-.734 1.632-1.632H4.928c0 .898.742 1.632 1.664 1.632zm4.896-4.928V6.976c-.008-2.521-1.345-4.63-3.712-5.184v-.576C7.79.55 7.241 0 6.56 0c-.68 0-1.23.55-1.216 1.216v.576c-2.36.554-3.704 2.654-3.712 5.184v4.096L0 12.704v.832h13.12v-.832l-1.632-1.632zm-1.632.832h-6.56V6.976c0-2.024 1.238-3.68 3.296-3.68 2.026 0 3.264 1.656 3.264 3.68v4.928z"></path>
                  </svg>
                </a>
              <li class="todo">
                <a href="/jp/todo/" class="todoing"><span>やることリスト</span>
                  <svg aria-hidden="true" width="21" height="16" viewBox="0 0 21 16" class="sc-dxgOiQ sc-bwCtUz hkkZYC">
                    <path fill="currentColor" fill-rule="nonzero" d="M6.682 12.657L1.67 7.642 0 9.313 6.682 16 21 1.672 19.33 0z"></path>
                  </svg>
                </a>
              <li class="mypage">
              <a href="/jp/mypage/" class="mypage_font"><span>マイページ</span>
                <img src="assets/member_photo_noimage.png" class="mypage_img">
              </a>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="main_contents">
      <div class="main">
        <div class="upper">
          <div class="mypage_name">
            <img src="assets/member_photo_noimage.png" class="border_radius">
            <a href="evaluation.html">ユーザーネーム</a>
            <ul>評価   <span class="math">0</span></ul>
            <ul>出品数   <span class="math">0</span></ul>
          </div>
            <div class="mypage_tabs">
                <input id="notice" type="radio" name="tab_item1" checked>
                <label class="tab_item1" for="notice">お知らせ</label>
                <input id="todo" type="radio" name="tab_item1">
                <label class="tab_item1" for="todo">やることリスト</label>
              <div class="tab_contents" id="notice_contents">
                  <img src='assets/mercari_icon.png' class="mercari_icon">
                  <p>実際の通知</p>
              </div>  
              <div class="tab_contents" id="todo_contents">
                  <img src='assets/mercari_icon.png' class="mercari_icon">
                  <p>現在、やることリストはありません</p>
              </div>
            <div class="list" >
              <ul>一覧をみる</ul>    
            </div>
          </div>
          <div class="lower">
            <ul>購入した商品</ul>
            <div class="lower_tabs">
              <input id="transaction" type="radio" name="tab_item2" checked>
              <label class="tab_item2" for="transaction">取引中</label>
              <input id="past_transaction" type="radio" name="tab_item2">
              <label class="tab_item2" for="past_transaction">過去の取引</label>
              <div class="tab_contents " id="transaction_contents">
                  <img src='assets/mercari_icon.png' class="mercari_icon">
                  <p>取引中の商品がありません</p>
              </div>
              <div class="tab_contents" id="past_transaction_contents">
                  <img src='assets/mercari_icon.png' class="mercari_icon">
                  <p>過去に取引した商品がありません</p>
              </div>
            </div>
          </div>     
        </div>
      </div>
      <div class="side_bar">
        <div class="side_bar_name">
          <ul class="header_lists">
            <li>マイページ<i class="fas fa-chevron-right"></i></li>
            <li>お知らせ<i class="fas fa-chevron-right"></i></li>
            <li>やることリスト<i class="fas fa-chevron-right"></i></li>
            <li>いいね！一覧<i class="fas fa-chevron-right"></i></li>
            <li>出品する<i class="fas fa-chevron-right"></i></li>
            <li>出品した商品-出品中<i class="fas fa-chevron-right"></i></li>
            <li>出品した商品-取引中<i class="fas fa-chevron-right"></i></li>
            <li>出品した商品-売却済み<i class="fas fa-chevron-right"></i></li>
            <li>購入した商品-取引中<i class="fas fa-chevron-right"></i></li>
            <li>購入した商品-過去の取引<i class="fas fa-chevron-right"></i></li>
            <li>ニュース一覧<i class="fas fa-chevron-right"></i></li>
            <li>評価一覧<i class="fas fa-chevron-right"></i></li>
            <li>ガイド<i class="fas fa-chevron-right"></i></li>
            <li>お問い合わせ<i class="fas fa-chevron-right"></i></li>
          </li>
          </ul>
          <h4>
          メルペイ
          </h4>
          <ul class="header_merpay">
            <li>売上・申込申請<i class="fas fa-chevron-right"></i></li>
            <li>ポイント<i class="fas fa-chevron-right"></i></li>
          </ul>
          <h4>
            設定
          </h4>
          <ul class="header_set">
            <li>プロフィール<i class="fas fa-chevron-right"></i></li>
            <li>発送元・お届け先住所変更<i class="fas fa-chevron-right"></i></li>
            <li>支払い方法<i class="fas fa-chevron-right"></i></li>
            <li>メール/パスワード<i class="fas fa-chevron-right"></i></li>
            <li>本人情報<i class="fas fa-chevron-right"></i></li>
            <li>電話番号の確認<i class="fas fa-chevron-right"></i></li>
            <li>ログアウト<i class="fas fa-chevron-right"></i></li>
          </ul>
        </div>
      </div>
    </main>
    <aside class="bottom_banner">
      <div class="bottom_banner_pc">
        <div class="bottom_banner_pc_block">
          <h2>スマホでかんたんフリマアプリ</h2>
          <p>今すぐ無料ダウンロード！</p>
          <div class="bottom_banner_pc_icon">
            <figure>
              <img src="assets/mercari_icon.png" class="marcari_icon_pc">
            </figure>
              <ul class="app_icon">
                <li>
                  <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"><img src="assets/AppStore.png" class="AppStore"></a>
                </li>
                <li>
                  <a href="https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"><img src="assets/google-play-badge.png" class="google-play-badge"></a>
                </li>
              </ul>
          </div>
        </div>
        <figure>
          <img src="assets/download_content_pc.png">
        </figure>
      </div>
    </aside>
    <footer>
      <div class='footer'>
          <div class='top'>
            <div class='first'>
              <h2 class='title'>メルカリについて</h2>
              <ul class='content'>
                <li class='companyProfile'>
                  <a href="https://about.mercari.com/" class='mercari'>会社概要（運営会社）</a>
                </li>
                <li class='employmentInformation'>
                  <a href="/jp/jobs/" class='jobs'>採用情報</a>
                </li>
                <li class='pre-release'>
                  <a href="https://about.mercari.com/press/news/" class='press'>プレリリース</a>
                </li>
                <li class='officialBlog'>
                  <a href="https://jp-news.mercari.com/" target="_blank" class='blog'>公式ブログ</a>
                </li>
                <li class='logo-usage-guidelines'>
                  <a href="/jp/logo-guidelines/" class='guidelines'>メルカリロゴ利用ガイドライン</a>
                </li>
                <a class='left'>
                  <a href="https://twitter.com/mercari_jp" target="_blank" class="sc-cBrjTV gdPTKQ"><svg aria-hidden="true" width="19" height="16" viewBox="0 0 19 16" class="sc-bRBYWo sc-fkyLDJ eCFuzj"><path fill="currentColor" d="M6.343 15.969c7.61 0 11.773-6.134 11.773-11.444 0-.172 0-.345-.008-.517a8.303 8.303 0 0 0 2.066-2.086 8.576 8.576 0 0 1-2.38.635A4.07 4.07 0 0 0 19.616.329a8.377 8.377 0 0 1-2.63.973 4.186 4.186 0 0 0-3.019-1.27c-2.283 0-4.14 1.803-4.14 4.023 0 .314.041.62.106.918A11.866 11.866 0 0 1 1.404.769a3.936 3.936 0 0 0-.557 2.023c0 1.396.735 2.628 1.84 3.35a4.278 4.278 0 0 1-1.872-.503v.055c0 1.945 1.428 3.577 3.317 3.945-.347.094-.71.141-1.09.141-.266 0-.524-.023-.774-.07.524 1.6 2.057 2.76 3.865 2.792a8.452 8.452 0 0 1-5.14 1.725 8.19 8.19 0 0 1-.985-.054 12.02 12.02 0 0 0 6.335 1.796" fill-rule="evenodd"></path></svg></a>
                  <svg class='portrait'></svg>
                </a>
                  <a href="https://www.facebook.com/mercarijp" target="_blank" class="sc-cBrjTV gdPTKQ"><svg aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" class="sc-kEYyzF sc-iCwjlJ kXgLaj"><path fill="currentColor" d="M15.111 0H.89A.889.889 0 0 0 0 .889V15.11c0 .491.398.889.889.889h7.658V9.813H6.469V7.391h2.078V5.613c0-2.066 1.262-3.193 3.11-3.193.623-.002 1.244.03 1.863.096v2.15h-1.276c-1.002 0-1.197.478-1.197 1.178v1.543h2.397l-.31 2.422h-2.087V16h4.064c.491 0 .889-.398.889-.889V.89A.889.889 0 0 0 15.111 0z" fill-rule="evenodd"></path></svg></a>
              </ul>
            </div>
            <div class='second'>
              <h2 class='titleH'>ヘルプ&ガイド</h2>
              <ul class='contentS'>
                <li class='liS'>
                  <a href="/jp/help_center/" class='mercari'>メルカリガイド</a>
                </li>
                <li class='liS'>
                  <a href="/jp/rakuraku-mercari/" class='jobs'>らくらくメルカリ便</a>
                </li>
                <li class='liS'>
                  <a href="/jp/yuyu-mercari/" class='press'>ゆうゆうメルカリ便</a>
                </li>
                <li class='liS'>
                  <a href="/jp/rakuraku-ogata/" class='blog'>大型メルカリ便</a>
                </li>
                <li class='liS'>
                  <a href="/jp/guide/car/" class='guidelines'>車体取引ガイド</a>
                </li>
                <li class='liS'>
                  <a href="/jp/safe/description/" target="_blank" class='press'>メルカリあんしん・あんぜん宣言！</a>
                </li>
                <li class='liS'>
                  <a href="/jp/authenticity/" class='blog'>偽ブランド品撲滅への取り組み</a>
                </li>
                <li class='liS'>
                  <a href="/jp/box/" class='guidelines'>メルカリボックス</a>
                </li>
              </ul>
            </div>
            <div class='third'>
              <h2 class='titleP'>プライバシーと利用規約</h2>
              <div class='hidari'>
                <ul class='contentT'>
                  <li class='liT'>
                    <a href="/jp/privacy/" class='mercari'>プライバシーポリシー</a>
                  </li>
                  <li class='liT'>
                    <a href="/jp/tos/" class='jobs'>メルカリ利用規約</a>
                  </li>
                  <li class='liT'>
                    <a href="/jp/tos_smartphone_support/" class='press'>あんしんスマホサポート制度に関する利用規約</a>
                  </li>
                  <li class='liT'>
                    <a href="/jp/compliance/" class='blog'>コンプライアンスポリシー</a>
                  </li>
                </ul>
              </div>
              <div class='migi'>
                <ul class='contentT'>
                  <li class='liT'>
                    <a href="/jp/data_security/" class='mercari'>個人データの安全管理に係る基本方針</a>
                  </li>
                  <li class='liT'>
                    <a href="/jp/tokutei/" class='jobs'>特定商取引に関する表記</a>
                  </li>
                  <li class='liT'>
                    <a href="/jp/shikin_kessai/" class='press'>資本決済法に基づく表示</a>
                  </li>
                  <li class='liT'>
                    <a href="https://about.mercari.com/csr/safety/" class='blog'>法令遵守と犯罪防止のために</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="fourth">
              <h2 class="country">国</h2>
              <ul class="c">
                <li class="nippon">
                  <a class="n" href="/jp/">日本</a>
                </li>
                <li class="nip">
                  <a href="/" class="n">United States</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="bottom">
            <a class="logo" href="/jp/">
              <img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg" alt="Mercari" class="sc-kNBZmU igKrOd">
            </a>
            <span class="trademark">© 2019 Mercari</span>
          </div>
        </div>
    </footer>
    <div class="footer_sell_btn">
        <a class="sell_btn" href="">
        <div>出品</div>
        <i class="fas fa-camera"></i>
        </a>
      </div>
  </body>
</html>