.footer
  %a{ href: 'https://www.mercari.com/jp/privacy/'}プライバシーポリシー
  %a{ href: 'https://www.mercari.com/jp/tos/'}メルカリ利用規約
  %a{ href: 'https://www.mercari.com/jp/tokutei/'}特定商取引に関する表記
  %br
  %img{src: 'assets/logo-gray.svg', alt: 'mercari-logo'}
  %br
  %p © 2019 Mercari