= render :partial => "header"
%main.main_contents
  .main
    .upper
      .profile-edit
        .profile-edit__header
          %h2
            プロフィール
        .profile-edit__user
          = image_tag("/images/member_photo_noimage.png", class: "mypage_img")
          %input{type:"text",value:"",placeholder:"例)AYA☆セール中"}
        .profile_edit__text
          %textarea{name:"introduction",placeholder:"例)こんにちは☆ご覧いただきありがとうございます！",cols:"50",rows:"5"}
        .profile_edit__footer
          %input{type:"submit",class:"change",value:"変更する"}
  = render :partial => "sidebar"
= render :partial => "footer"
