= render partial: "header"
%main.main_contents
  .main
    .upper
      #log_out.create__main1
        #addbutton.create__main__button
          %button.create-add
            ログアウト  
  = render partial: "sidebar"
= render partial: "footer"
= render partial: "sell_btn"