!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %link{:href => "/style.scss", :rel => "assets/stylesheet"}/
    %link{:href => "normalize.css", :rel => "assets/stylesheet"}/
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.2.0/css/all.css", :integrity => "sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ", :rel => "stylesheet"}/
    %link{:href => "user_bg.jpg", :rel => "assets/stylesheet", :type => "text/css"}/
    %link{:href => "download_bg_pc.jpg", :rel => "assets/stylesheet", :type => "text/css"}/
    %title マイページ
  %body
    %header.header
      .menu_bar
        .headup
          .mercarilogo
            %a
              %img.logo_img{:alt => "Mercari", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}/
          %form.form{:action => ""}
            %input.search_form{:name => "keyword", :placeholder => "何かお探しですか？", :type => "text", :value => ""}/
            %button.search_button
              %svg.button_a{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
                %path{:d => "M11.435 10.063h-.723l-.256-.247a5.92 5.92 0 0 0 1.437-3.87 5.946 5.946 0 1 0-5.947 5.947 5.92 5.92 0 0 0 3.87-1.437l.247.256v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 0 1 1.83 5.946 4.111 4.111 0 0 1 5.946 1.83a4.111 4.111 0 0 1 4.117 4.116 4.111 4.111 0 0 1-4.117 4.117z", :fill => "currentColor", "fill-rule" => "nonzero"}
        .headdown
          .search
            .search_category
              %a.search_category_link{:href => "/jp/category/"}
                %svg.category_icon{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 20 16", :width => "20"}
                  %path{:d => "M18.799 15.25h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zM2 16a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4z", :fill => "currentColor", "fill-rule" => "nonzero"}
                カテゴリーから探す
            .search_brand
              %a.search_brand_link{:href => "/jp/brand/"}
                %svg.brand_icon{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 23 16", :width => "23"}
                  %path{:d => "M6.315 0L4.473 1.806 2.833.019.73 1.977l1.69 1.84L1.198 5.02c-1.594 1.594-1.594 4.188-.01 5.772L6.3 16h13.272a3.08 3.08 0 0 0 3.077-3.077V3.076A3.08 3.08 0 0 0 19.57 0H6.315zm13.46 12.925a.211.211 0 0 1-.205.205H7.504L3.227 8.771a1.226 1.226 0 0 1-.01-1.71L4.38 5.92l1.28 1.371a2.68 2.68 0 1 0 2.13-1.93L6.433 3.907 7.49 2.87h12.082a.211.211 0 0 1 .206.205v9.848h-.002z", :fill => "currentColor", "fill-rule" => "nonzero"}
                ブランドから探す
          .user_page_links
            %ul.user_links
              %li.like
                %a.like{:href => "/jp/like/"}
                  %span いいね！一覧
                  %svg.sc-hSdWYo.sc-hrWEMg.elIJWw{"aria-hidden" => "true", :height => "15", :viewbox => "0 0 16 15", :width => "16"}
                    %path{:d => "M8.08 12.711l-.08.082-.08-.082C4.112 9.188 1.6 6.858 1.6 4.496c0-1.635 1.2-2.861 2.8-2.861 1.232 0 2.432.81 2.856 1.929h1.496c.416-1.12 1.616-1.93 2.848-1.93 1.6 0 2.8 1.227 2.8 2.862 0 2.362-2.512 4.692-6.32 8.215M11.6 0C10.208 0 8.872.662 8 1.708 7.128.662 5.792 0 4.4 0 1.936 0 0 1.978 0 4.496c0 3.09 2.72 5.608 6.84 9.433L8 15l1.16-1.079C13.28 10.104 16 7.586 16 4.496 16 1.978 14.064 0 11.6 0", :fill => "currentColor", "fill-rule" => "evenodd"}
              %li.notice
                %a.notification{:href => "/jp/notification/"}
                  %span お知らせ
                  %svg.sc-kgoBCf.sc-iQKALj.kjjLAK{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 14 16", :width => "14"}
                    %path{:d => "M6.592 16c.89 0 1.632-.734 1.632-1.632H4.928c0 .898.742 1.632 1.664 1.632zm4.896-4.928V6.976c-.008-2.521-1.345-4.63-3.712-5.184v-.576C7.79.55 7.241 0 6.56 0c-.68 0-1.23.55-1.216 1.216v.576c-2.36.554-3.704 2.654-3.712 5.184v4.096L0 12.704v.832h13.12v-.832l-1.632-1.632zm-1.632.832h-6.56V6.976c0-2.024 1.238-3.68 3.296-3.68 2.026 0 3.264 1.656 3.264 3.68v4.928z", :fill => "currentColor", "fill-rule" => "nonzero"}
              %li.todo
                %a.todoing{:href => "/jp/todo/"}
                  %span やることリスト
                  %svg.sc-dxgOiQ.sc-bwCtUz.hkkZYC{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 21 16", :width => "21"}
                    %path{:d => "M6.682 12.657L1.67 7.642 0 9.313 6.682 16 21 1.672 19.33 0z", :fill => "currentColor", "fill-rule" => "nonzero"}
              %li.mypage
                %a.mypage_font{:href => "/jp/mypage/"}
                  %span マイページ
                  %img.mypage_img{:src => "assets/member_photo_noimage.png"}/
    %main.main_contents
      .main
        .upper
          .mypage_name
            %img.border_radius{src: "assets/member_photo_noimage.png"}/
            %a{href: "evaluation.html"} ユーザーネーム
            %ul
              評価
              %span.math 0
            %ul
              出品数
              %span.math 0
          .mypage_tabs
            %input#notice{:checked => "checked", :name => "tab_item1", :type => "radio"}/
            %label.tab_item1{:for => "notice"} お知らせ
            %input#todo{:name => "tab_item1", :type => "radio"}/
            %label.tab_item1{:for => "todo"} やることリスト
            #notice_contents.tab_contents
              %img.mercari_icon{:src => "assets/mercari_icon.png"}/
              %p 実際の通知
            #todo_contents.tab_contents
              %img.mercari_icon{:src => "assets/mercari_icon.png"}/
              %p 現在、やることリストはありません
            .list
              %ul 一覧をみる
          .lower
            %ul 購入した商品
            .lower_tabs
              %input#transaction{:checked => "checked", :name => "tab_item2", :type => "radio"}/
              %label.tab_item2{:for => "transaction"} 取引中
              %input#past_transaction{:name => "tab_item2", :type => "radio"}/
              %label.tab_item2{:for => "past_transaction"} 過去の取引
              #transaction_contents.tab_contents
                %img.mercari_icon{:src => "assets/mercari_icon.png"}/
                %p 取引中の商品がありません
              #past_transaction_contents.tab_contents
                %img.mercari_icon{:src => "assets/mercari_icon.png"}/
                %p 過去に取引した商品がありません
      .side_bar
        .side_bar_name
          %ul.header_lists
            %li
              マイページ
              %i.fas.fa-chevron-right
            %li
              お知らせ
              %i.fas.fa-chevron-right
            %li
              やることリスト
              %i.fas.fa-chevron-right
            %li
              いいね！一覧
              %i.fas.fa-chevron-right
            %li
              出品する
              %i.fas.fa-chevron-right
            %li
              出品した商品-出品中
              %i.fas.fa-chevron-right
            %li
              出品した商品-取引中
              %i.fas.fa-chevron-right
            %li
              出品した商品-売却済み
              %i.fas.fa-chevron-right
            %li
              購入した商品-取引中
              %i.fas.fa-chevron-right
            %li
              購入した商品-過去の取引
              %i.fas.fa-chevron-right
            %li
              ニュース一覧
              %i.fas.fa-chevron-right
            %li
              評価一覧
              %i.fas.fa-chevron-right
            %li
              ガイド
              %i.fas.fa-chevron-right
            %li
              お問い合わせ
              %i.fas.fa-chevron-right
          %h4
            メルペイ
          %ul.header_merpay
            %li
              売上・申込申請
              %i.fas.fa-chevron-right
            %li
              ポイント
              %i.fas.fa-chevron-right
          %h4
            設定
          %ul.header_set
            %li
              プロフィール
              %i.fas.fa-chevron-right
            %li
              発送元・お届け先住所変更
              %i.fas.fa-chevron-right
            %li
              支払い方法
              %i.fas.fa-chevron-right
            %li
              メール/パスワード
              %i.fas.fa-chevron-right
            %li
              本人情報
              %i.fas.fa-chevron-right
            %li
              電話番号の確認
              %i.fas.fa-chevron-right
            %li
              ログアウト
              %i.fas.fa-chevron-right
    %aside.bottom_banner
      .bottom_banner_pc
        .bottom_banner_pc_block
          %h2 スマホでかんたんフリマアプリ
          %p 今すぐ無料ダウンロード！
          .bottom_banner_pc_icon
            %figure
              %img.marcari_icon_pc{:src => "assets/mercari_icon.png"}/
            %ul.app_icon
              %li
                %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"}
                  %img.AppStore{:src => "assets/AppStore.png"}/
              %li
                %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"}
                  %img.google-play-badge{:src => "assets/google-play-badge.png"}/
        %figure
          %img{:src => "assets/download_content_pc.png"}/
    %footer
      .footer
        .top
          .first
            %h2.title メルカリについて
            %ul.content
              %li.companyProfile
                %a.mercari{:href => "https://about.mercari.com/"} 会社概要（運営会社）
              %li.employmentInformation
                %a.jobs{:href => "/jp/jobs/"} 採用情報
              %li.pre-release
                %a.press{:href => "https://about.mercari.com/press/news/"} プレリリース
              %li.officialBlog
                %a.blog{:href => "https://jp-news.mercari.com/", :target => "_blank"} 公式ブログ
              %li.logo-usage-guidelines
                %a.guidelines{:href => "/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
              %a.left
              %a.sc-cBrjTV.gdPTKQ{:href => "https://twitter.com/mercari_jp", :target => "_blank"}
                %svg.sc-bRBYWo.sc-fkyLDJ.eCFuzj{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 19 16", :width => "19"}
                  %path{:d => "M6.343 15.969c7.61 0 11.773-6.134 11.773-11.444 0-.172 0-.345-.008-.517a8.303 8.303 0 0 0 2.066-2.086 8.576 8.576 0 0 1-2.38.635A4.07 4.07 0 0 0 19.616.329a8.377 8.377 0 0 1-2.63.973 4.186 4.186 0 0 0-3.019-1.27c-2.283 0-4.14 1.803-4.14 4.023 0 .314.041.62.106.918A11.866 11.866 0 0 1 1.404.769a3.936 3.936 0 0 0-.557 2.023c0 1.396.735 2.628 1.84 3.35a4.278 4.278 0 0 1-1.872-.503v.055c0 1.945 1.428 3.577 3.317 3.945-.347.094-.71.141-1.09.141-.266 0-.524-.023-.774-.07.524 1.6 2.057 2.76 3.865 2.792a8.452 8.452 0 0 1-5.14 1.725 8.19 8.19 0 0 1-.985-.054 12.02 12.02 0 0 0 6.335 1.796", :fill => "currentColor", "fill-rule" => "evenodd"}
              %svg.portrait
              %a.sc-cBrjTV.gdPTKQ{:href => "https://www.facebook.com/mercarijp", :target => "_blank"}
                %svg.sc-kEYyzF.sc-iCwjlJ.kXgLaj{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
                  %path{:d => "M15.111 0H.89A.889.889 0 0 0 0 .889V15.11c0 .491.398.889.889.889h7.658V9.813H6.469V7.391h2.078V5.613c0-2.066 1.262-3.193 3.11-3.193.623-.002 1.244.03 1.863.096v2.15h-1.276c-1.002 0-1.197.478-1.197 1.178v1.543h2.397l-.31 2.422h-2.087V16h4.064c.491 0 .889-.398.889-.889V.89A.889.889 0 0 0 15.111 0z", :fill => "currentColor", "fill-rule" => "evenodd"}
          .second
            %h2.titleH ヘルプ&amp;ガイド
            %ul.contentS
              %li.liS
                %a.mercari{:href => "/jp/help_center/"} メルカリガイド
              %li.liS
                %a.jobs{:href => "/jp/rakuraku-mercari/"} らくらくメルカリ便
              %li.liS
                %a.press{:href => "/jp/yuyu-mercari/"} ゆうゆうメルカリ便
              %li.liS
                %a.blog{:href => "/jp/rakuraku-ogata/"} 大型メルカリ便
              %li.liS
                %a.guidelines{:href => "/jp/guide/car/"} 車体取引ガイド
              %li.liS
                %a.press{:href => "/jp/safe/description/", :target => "_blank"} メルカリあんしん・あんぜん宣言！
              %li.liS
                %a.blog{:href => "/jp/authenticity/"} 偽ブランド品撲滅への取り組み
              %li.liS
                %a.guidelines{:href => "/jp/box/"} メルカリボックス
          .third
            %h2.titleP プライバシーと利用規約
            .hidari
              %ul.contentT
                %li.liT
                  %a.mercari{:href => "/jp/privacy/"} プライバシーポリシー
                %li.liT
                  %a.jobs{:href => "/jp/tos/"} メルカリ利用規約
                %li.liT
                  %a.press{:href => "/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用規約
                %li.liT
                  %a.blog{:href => "/jp/compliance/"} コンプライアンスポリシー
            .migi
              %ul.contentT
                %li.liT
                  %a.mercari{:href => "/jp/data_security/"} 個人データの安全管理に係る基本方針
                %li.liT
                  %a.jobs{:href => "/jp/tokutei/"} 特定商取引に関する表記
                %li.liT
                  %a.press{:href => "/jp/shikin_kessai/"} 資本決済法に基づく表示
                %li.liT
                  %a.blog{:href => "https://about.mercari.com/csr/safety/"} 法令遵守と犯罪防止のために
          .fourth
            %h2.country 国
            %ul.c
              %li.nippon
                %a.n{:href => "/jp/"} 日本
              %li.nip
                %a.n{:href => "/"} United States
        .bottom
          %a.logo{:href => "/jp/"}
            %img.sc-kNBZmU.igKrOd{:alt => "Mercari", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"}/
          %span.trademark © 2019 Mercari
    .footer_sell_btn
      %a.sell_btn{:href => ""}
        %div 出品
        %i.fas.fa-camera