%head
  -#   %meta{:content => "text/html; charset=utf-8", "http-eqiv" => "Content-Type"}/
  -#   %title 会員情報入力 -メルカリ スマホで
  -#   %script src='https://www.google.com/recaptcha/api.js'
  -#   <!-- recaptchaの記載 -->
  %script{src: 'https://www.google.com/recaptcha/api.js'}
  %body
  .user-information
    = render :partial => "header-reg"
    .main-reg
      %h1.top-head 電話番号の確認
      .main-section
        %form{:action => "/", :method => "post"}
        .form-top
          %label.nickname 携帯電話の番号
          %br
            %input{name:"nickname" ,placeholder:"携帯の番号を入力"}
          %br
            本人確認のため、携帯電話のSMS(ショートメッセージサービスを利用して認証を行います。)
          
        %button.submit-btn{type:"submit",name:"submit",onclick:"location.href='/index.html'"}SMSを送信する
        %br
          ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .form-group-caution
          %a{ href: 'https://www.mercari.com/jp/help_center'}本人情報の登録について
      
    .footer
      %a{ href: 'https://www.mercari.com/jp/privacy/'}プライバシーポリシー
      %a{ href: 'https://www.mercari.com/jp/tos/'}メルカリ利用規約
      %a{ href: 'https://www.mercari.com/jp/tokutei/'}特定商取引に関する表記
      %br
      %img{src: 'assets/logo-gray.svg', alt: 'mercari-logo'}
      %br
      %p © 2019 Mercari
      