%html
  %head
  -#   %meta{:content => "text/html; charset=utf-8", "http-eqiv" => "Content-Type"}/
  -#   %title 会員情報入力 -メルカリ スマホで
  -#   %script src='https://www.google.com/recaptcha/api.js'
  -#   <!-- recaptchaの記載 -->
    %a{href="https://use.fontawesome.com/releases/v5.0.6/js/all.js"}
  %script{src: 'https://www.google.com/recaptcha/api.js'}
  
  .single1
    .single-header1
      %h1
        %a{href: "https://トップページ/"}
          %img.mercari-icon-reg{alt: "mercari",src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1248199994"}/
      %nav.process-bar
        %ol.process-sub-bar
          .status1
            %li.current 会員情報
            %span
          .status
            %li.after 電話番号確認
            %span
          .status
            %li.after お届け先住所入力
            %span 
          .status
            %li.after 支払い方法
            %span
          .status2
            %li.end 完了
            %span 
    .main-reg
      %h1.top-head 電話番号の確認
      .main-section
        %form{:action => "/", :method => "post"}
        .form-top
          %label.phonenumber 携帯電話の番号
          %br
            %input{name:"phonenumber" ,placeholder:"携帯の番号を入力"}
          %br
          %p 本人確認のため、携帯電話のSMS(ショートメッセージサービスを利用して認証を行います。)
          %button.submit-btn{type:"submit",name:"submit",onclick:"location.href='/index.html'"}SMSを送信する
          %br
          %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .form-group-caution
            %a{ href: 'https://www.mercari.com/jp/help_center'}電話番号の確認が必要な理由    

    %footer.footer-reg
      %nav
        %ul.clearfix
          %li
            %a{:href => "<privacy>"} プライバシーポリシー
          %li
            %a{:href => "<>"} メルカリ利用規約
          %li
            %a{:href => "<>"} 特定商取引に関する表記
      .footer-reg-logo
        %a{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1248199994", :width => "80"}/
        %p
          %small © 2019 Mercari