aside{
  height: 260px;
  width: auto;
}
.bottom_banner_pc{
  width: 750px;
  margin: 0 auto;
}

.bottom_banner{
  display: flex;
  background-image: image-url("download_bg_pc.jpg");
  background-position: center;
  background-size: cover;
  height: 260px;
  width: 100%;
  position: relative;
    &_pc_block{
      color: #ffffff;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 50px;
  }
    &_pc_icon{
      margin: 20px 0;
      display: flex;
    }
    &_pc_block h2{
      font-size: 24px;
      margin: 0;
    }
    &_pc_block p{
      font-size: 35px;
      margin: 10px 0 0;
    }
}

.bottom_banner_pc>figure img{
  position: relative;
  height: 260px;
  width: 300px;
  left: 460px;
}

.marcari_icon_pc{
  height: 68px;
  width: 68px;
}

.AppStore{
  height: 45px;
  width: 133px;
}

.google-play-badge{
  height: 45px;
  width: 133px;
}

.app_icon {
  padding: 0 0;
  display: flex;
  margin: 15px;
  li{
    margin: 0 8px;
  }
}

figure img{
  margin: 0;
}