.create{
  background-color:white;
  width:700px;
  height:562px;
  position:relative;
  &__header {
    box-sizing: border-box;
    height:50px;
    width:100%;
    padding:8px 24px;
    border-bottom: solid 1px #f1f1f1;
    h2 {
      text-align: center;
      font-size:24px;
      font-weight: bold;
      color:#333333;
    }}
  &__main {
    box-sizing: border-box;
    padding:18px 40px 64px;
    height:512px;
    margin:auto;
    text-align: center;
    &__message {
      height:16px;
      width:347px;
      margin:24px auto 0px;
      text-align: left;
    }
    &__image {
      font-size:16px;
    }
    label {
    color:#333333;
    font-size:14px;    
    font-weight:bold;
    }
    &__form {
      box-sizing:border-box;
      margin:auto;
      text-align: center;
      input {
        box-sizing: border-box;
        margin:8px 0px 0px;
        padding:10px 16px 8px;
        width:343px;
        height:48px;
        border-radius: 4px;          
        border-style:solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        outline: none;
        border-width: 1px;
      }
    }
    &__year-month {
      box-sizing:border-box;
      margin:auto;
      width:343px;
      text-align: left;
      padding:10px 0px 8px;
      select {
        z-index:10;
        box-sizing:border-box;
        width:131.5px;
        height:48px;
        border-radius: 4px;
        border-style:solid;
        border-color: rgb(204, 204, 204);
        background-color: white;
        border-image: initial;
        outline: none;
        border-width: 1px;
        padding:0px 16px;
        font-size:13px;
      }
    }
    &__card-backside {
      width:347px;
      text-align: right;
      margin:8px auto;
      font-size:14px;
      color:#0099E8;
    }
    &__image {
      margin:auto;
      width:343px;
      text-align: left;
    }
      span.formrequire {
        box-sizing: border-box;
        font-size:12px;
        background-color:#ea352d;
        width:32px;
        height:19px;
        padding:3.5px;
        margin-left:8px;
        border-radius: 2px;
      }
    &__button {
    text-align: center;
    padding:24px 0px;
  }}}
button.create-add {
  width:343px;
  height:50px;
  background-color:#ea352d;
  color:white;
  font-size:14px;
  // outline:none;
  border-style: none;

}

.card.back.side.image{
  box-sizing: border-box;
  margin:auto;
  width:343px;
  height:166px;
  padding:16px;
  background-color:#EEEEEE;
  font-size:14px;
  color:#333333;
  text-align: center;
  position:relative;
  bottom:13px;
}
img {
  margin:8px 0px 0px;
}

i.fas.fa-caret-up.fa-2x::before {
  color:#EEEEEE;
  position:relative;
  left:145px;
  bottom:3px;
}

.hidden {
  display:none;
}

i.fas.fa-chevron-down::before {
  color:  rgb(204, 204, 190);
}

.year-month {
  color:#333333;
  font-size:13px;
  width:14px;
  height:18px;
}

#yajirushi1 {
  position: absolute;
  top:270px;
  left:447px;
}

#yajirushi2 {
  position: absolute;
  top:270px;
  left:274px;
}

.year-month {
  width:20px;
  margin:5px;
  text-align: center;
  font-size:13px;
}