.notifications {
  .notice {
    background-color: #70d3fa;
    color: #ffffff;
    text-align: center;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }

  .alert {
    background-color: #ff8a47;
    color: #ffffff;
    text-align: center;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }
}