.footer {
  clear: both;
  width: 1440px;
  height: 389px;
  background-color: #222222;
  h2{
    font-size: 16px;
    font-weight: bold;
  }
  a{
    color: #BABABA;
    font-size: 12px;
    text-decoration: none;
  }
}

.top {
  width: 1020px;
  height: 296px;
  margin: 0px 210px;
  padding-top: 10px;
}

.first {
  width: 207.17px;
  height: 240px;
  display: inline-block;
  float: left;
  white-space: nowrap;
  margin-top: 5px;
}

.title {
  width: 167.17px;
  height: 22px;
  color: #FFFFFF;
  font-size: 14px;
}

.content {
  width: 167.17px;
  height: 202px;
  margin: 0px 0px 0px 0px;
  padding-top: 5px;
  li{
    width: 167.17px;
    height: 14px;
    margin-top: 16px;
    list-style: none;
    font-size: 10px;
    text-align: left;
    text-decoration: none;
  }
  a{
    width: 120px;
    height: 14px;
    color: #BABABA;
    text-decoration: none;
  }
}

.sc-cBrjTV.gdPTKQ {
  width: 50px;
  height: 24.84px;
  margin: 30px 0px 0px;
}

.jobs {
  width: 48px;
  height: 14px;
}

.press {
  width: 83.53px;
  height: 14px;
}

.blog {
  width: 59.53px;
  height: 14px;
}

.guidelines {
  width: 167.17px;
  height: 14px;
}

.left {
  width: 50px;
  height: 24.84px;
  color: #FFFFFF;
}

.portrait {
  width: 30px;
  height: 24.84px;
  color: #FFFFFF;
}

path {
  width: 28.79px;
  height: 24.84px;
}

.facebook {
  width: 26px;
  height: 26px;
  color: #FFFFFF;
}

.fa-twitter{
  font-size: 2.5em;
  width: 26px;
  height: 26px;
  color: #FFFFFF;
  margin: 30px 25px 0 0;
}

.fa-facebook-square{
  font-size: 2.5em;
  width: 26px;
  height: 26px;
  color: #FFFFFF;
  margin: 30px 0px 0 0;
}

.second {
  width: 230.33px;
  display: inline-block;
  float: left;
  white-space: nowrap;
  margin-top: 5px;
}

.liS {
  width: 190.33px;
  height: 14px;
  margin-top: 16px;
  list-style: none;
  font-size: 10px;
  text-align: left;
  text-decoration: none;
}

.contentS {
  width: 190.33px;
  height: 240px;
  margin: 0px;
  padding-top: 5px;
}

.titleH {
  width: 167.17px;
  height: 22px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: left;
}

.third {
  width: 438.59px;
  height: 166px;
  display: inline-block;
  float: left;
  line-height: 1em;
  margin-top: 5px;
}

.titleP {
  width: 398.59px;
  height: 22px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: left;
}

.hidari {
  width: 199.3px;
  height: 144px;
  display: inline-block;
  float: left;
  padding: 15px 10px 0px 0px;
  margin-top: -15px;
}

.contentT {
  margin: 0;
  width: 189.3px;
  height: 128px;
  padding-left: 0px;
}

.migi {
  width: 199.3px;
  height: 144px;
  display: inline-block;
  float: left;
  padding: 15px 0px 0px 10px;
  margin-top: -15px;
}

.liT {
  width: 189.32px;
  margin: 16px 0px 0px;
  list-style: none;
  font-size: 10px;
  text-align: left;
  text-decoration: none;
}

.fourth {
  width: 112.05px;
  height: 86px;
  display: inline-block;
  float: left;
  margin-top: 5px;
}

.country {
  width: 72.05px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: left;
}

.c {
  height: 48px;
  padding: 0px;
  margin: 0px;
}

.nippon {
  width: 72.05px;
  height: 32px;
  margin-top: 18px;
  list-style: none;
  font-size: 10px;
  text-align: left;
}

.n {
  width: 72.05px;
  height: 16px;
  margin-top: 16px;
  text-decoration: none;
}

.nip {
  display: block;
  margin-top: 0px;
}

.bottom {
  width: 1020px;
  height: 33px;
  margin: 30px 190px 20px 210px;
}

.logo {
  width: 124px;
  height: 33px;
  float: left;
}

.trademark {
  width: 765px;
  height: 12px;
  font-size: 12px;
  margin-top: 15px;
}

span {
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  float: left;
}