.header{
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  margin: 0px auto;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  z-index: 3;
  display: block;
}
.user_page_links svg{
  margin-top: 1px;
  height: 16px;
  color: #BABABA;
}

.user_page_links span{
  float: right;
  color: #565656;
  vertical-align: middle;
}

.mypage{
  padding: 0 0 0 14px;
  &_font{
    text-decoration: none;
  }
  &_img{
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin: 0;
    float: left;
  }
}

.menu_bar{
  -webkit-box-align: center;
    width: 1020px;
    height: 100px;
    margin: 0px auto;
    padding: 8px 0px 0px;
    box-sizing: border-box; 
}
.headup{
  display: flex;
  width: 1020px;
  height: 40px;
}
.mercarilogo{
  -webkit-box-align: center;
    align-items: center;
    display: flex;
    color: inherit;
    text-decoration: none;
}
.logo_img{
  margin-right: 45px; 
  height: 36px;
}
.form{
  position: relative;
  width: 100%;
}
.search_form{
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  height: 40px;
  line-height: 1.4em;
  position: relative;
  width: 841px;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  padding: 0px 50px 0px 10px;
  transition: all 0.3s ease-out 0s;
  box-sizing: border-box;
  &_button{
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    -webkit-appearance: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px 4px 4px 0px;
    padding: 0px;
    box-sizing: border-box; 
  } 
}
.search_button{
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  -webkit-appearance: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px 4px 4px 0px;
  padding: 0px;
  box-sizing: border-box; 
}
.button_a{
  max-width: 100%;
  max-height: 100%;
  color: rgb(34, 34, 34);
  height: 14px;
  margin-top: 2px;
  width: 14px;
}
.headdown{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 8px;
  box-sizing: border-box;
}
.search{
  display: flex;
  margin-left: -10px;
  box-sizing: border-box;
  &_category{
    padding-left: 0px;
    cursor: pointer;
    height: 44px;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    &_link{
      display: block;
      font-size: 14px;
      font-weight: 600;
      line-height: 36px;
      white-space: nowrap;
      color: inherit;
      text-decoration: none;
    }
    &_link:hover{
      color: #3a89ff
    }
  }
}
.fa-list-ul{
  font-size: 0.9em;
  color: rgb(234, 53, 45);
  display: flex;
  margin: 11px 0 0 0; 
}
.fa-list-ul p{
  color: #080808;
  display: inline-flex;
}
.fa-list-ul p:hover{
  color: #3a89ff;
}
.brand_icon_link{
  text-decoration: none;
  font-size: 0.9em;
  color: rgb(234, 53, 45);
  display: flex;
  margin: 11px 5px 0 0; 
}
.brand_icon_link p{
  color: #080808;
  display: inline-flex;
}
.brand_icon_link p:hover{
  color: #3a89ff;
}
.like{
  color: #565656;
  text-decoration: none;
  margin: 0 30px 0 0;
}
.like:hover{
  color: #4eb4f8;
}
.notification{
  color: #565656;
  text-decoration: none;
  margin: 0 30px 0 0;
}
.notification:hover{
  color: #4eb4f8;
}
.todoing{
  color: #565656;
  text-decoration: none;
  margin: 0 15px 0 0;
}
.todoing:hover{
  color: #4eb4f8;
}
.mypage_img{
  margin-right: 10px;
}
.mypage_font{
  color: #565656;
  line-height: 2.6;
}
.mypage_font:hover{
  color: #4eb4f8;
}
.user_links{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.user_page_links{
  display: flex;
  box-sizing: border-box;
}

.sign_up{
  text-align: center;
}

.sign_up_link{
  background-color: rgb(234, 53, 45);
  color: rgb(255, 255, 255);
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 53, 45);
  border-image: initial;
  border-radius: 4px;
  padding: 8px 10px;
  text-decoration: none;
}

.sign_in{
  text-align: center;
  margin-left: 11px;
}

.sign_in_link{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 149, 238);
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 149, 238);
  border-image: initial;
  border-radius: 4px;
  padding: 8px 10px;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
}