/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import "./reset";

$black: #333;
$white: #fff;
$gray: #f5f5f5;
$red: #ea352d;
$link-color: #0099e8;
$bordar-color: #ccc;
$dark: #888;

html{
  width: 100%;
}
 .sellsingle-header{
   height: 128px;
   width:100%;
   text-align: center;
   & h1{
    display: inline-block;
    text-align: center;
   }
 }

 .mercari-icon{
     margin-top: 40px;
     width:185px;
     height: 49px;
 }

body {
  position: relative;
  min-height: 100%;
  background: $gray;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color:$black;
  line-height: 1;
}

.sellsingle-header{
  height: 128px;
  width:100%;
  text-align: center;
  & h1{
  display: inline-block;
  text-align: center;
  }
}

.mercari-icon{
    margin-top: 40px;
    width:185px;
    height: 49px;
}

main {
  display: block;
}

.l-single-head{
  padding: 32px 16px;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
}

.items-contents{
  width: 700px;
  background-color: $white;
  margin: 0 auto;
  & span{
  margin: 0 0 0 8px;
  padding: 4px 4px;
  border-radius: 2px;
  color: $white;
  font-size: 12px;
  background-color: $red;
  font-weight: bold;
  }
  & h3{
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  }
  & h4{
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
  }
  & a{
    color: $link-color;
    &:hover{
      text-decoration: underline;
      opacity: 0.7;
    }
  }
  & span.nini{
    background-color: $bordar-color;
  }
  & p {
    line-height: 1.5;
    font-size: 10px;
  }
  & select{
    width: 100%;
    height: 48px;
    padding: 0 16px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid $bordar-color;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
    -moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
    appearance: none;	/* 標準のスタイルを無効にする */
    &:focus{
    border: 1px solid $link-color ;
      }
  }
  &__title{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border-bottom: solid 1px $gray;
    padding: 32px 16px;
    line-height:1.5;
    & h2{
      font-weight: bold;
    }
  }
  &__image{
    border-bottom: solid 1px $gray;
    padding: 40px;
    & p{
      margin-top: 8px;
      line-height: 1.5;
      font-size: 14px;
    }
    &--drop-box{
      position: relative;
      display: block;
      height: 162px;
      background: $gray;
      margin: 16px auto 0;
      border: 1px dashed $bordar-color;
      padding: 40px;
      cursor: pointer;
      &--file{
        width: 100%;
        margin-left: 0;
        width: 620px;
        padding: 40px; 
      }
      &--click{
        position: absolute;
        top: 36%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
  &__item-info{
    padding: 40px;
    border-bottom: solid 1px $gray;
    &--name{
      &--input{
      width: 100%;
      height: 48px;
      padding: 10px 16px 8px;
      margin: 8px auto 0;
      border-radius: 4px;
      border: 1px solid $bordar-color;
      background: $white;
      line-height: 1.5;
      font-size: 16px;
      outline-style: none;
      background: #fff;
        &:focus{
          border: 1px solid $link-color ;
        }
      }
    }
    &--description{
      margin-top: 40px;
    }
  }
  &__item-about{
    padding: 40px;
    border-bottom: solid 1px $gray;
    &--head{
      float: left;
      color: $dark;
      font-size: 14px;
      font-weight: 600;
    }
    &--box{
      width: 400px;
      float: right;
      &--category{
        position: relative;
      }
      &--condition, &--size, &--brand{
        position: relative;
        margin-top: 40px;
      }
    }
  }
  &__shipping{
    padding: 40px;
    border-bottom: solid 1px $gray;
    border-top: solid 1px $gray;
    &--head{
      float: left;
      color: $dark;
    }
    & h3{
      font-size: 14px;
    }
    & a{
      color: $white;
    }
    &--box{
      width: 400px;
      float: right;
      &--charge{
        position: relative;
      }
      &--method,--ship-from-region,--date{
        position: relative;
        margin-top: 40px;
      }
      &--ship-from-region{
        position: relative;
        margin-top: 40px;
      }
      &--date{
        position: relative;
        margin-top: 40px;
      }
    }
  }

  &__price{
    padding: 40px;
    border-bottom: solid 1px $gray;
    &--head{
      float: left;
      color: $dark;
    }
    & h3{
      font-size: 14px;
    }
    & a{
      color: $white;
    }
    &--box{
      width: 400px;
      float: right;
      & ul{
        list-style: none;
      }
      &--list_top{
        padding: 0 0 24px;
        &--label{
          border: 0;
          & label{
            display: inline-block;
            width: 200px;
            line-height: 48px;
            font-weight: 600;
          }
        }
        &--right{
          width: 50%;
          height: 48px;
          float: right;
          text-align: right;
          & p {
            display: inline-block;
            margin-right: 10px;
          }
          &--space{
            display: inline-block;
            margin: 0 0 0 5%;
          }
          &--input{
          width: 160px;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 15px;
          background: $white;
          outline-style: none;
          text-align: right;
          &:focus{
            border: 1px solid $link-color ;
            }
      &::placeholder{
          text-align: right;
        }
      }
    }
  }
      &--list_center{
        padding: 24px 0;
        border-top: solid 1px #ccc;
        &--text{
          float:left;
          display: inline-block;
          font-size: 14px;
        }
        &--sales{
          display: inline-block;
          float: right;
        }
      }

      &--list_under{
        padding: 28px 0;
        border-top: 1px solid #ccc;
        & label{
          font-weight: 600;
          font-size: 16px;
        } 
        &_sales{
          float: right;
          font-size: 28px;
        }
      }
    }
  }

  &__submit{
    padding: 40px;
    line-height: 1.5;
    &--go-btn{
      width: 100%;
      display: block;
      text-align: center;
      color: $white;
      background-color: $red;
      margin: 40px 0 0;
      line-height: 48px;
      font-size: 14px;
    }
    &--back-btn{
      width: 45%;
      text-align: center;
      margin: 24px auto 0;
      color: $white;
      background-color: #aaa;
      line-height: 48px;
    }
  }
}
     }
   }
   &__title{
   text-align: center;
   font-size: 22px;
   font-weight: bold;
   border-bottom: solid 1px $gray;
   padding: 32px 16px;
   line-height:1.5;
     & h2{
       font-weight: bold;
     }
   }
   &__image{
     border-bottom: solid 1px $gray;
     padding: 40px;
     & p{
       margin-top: 8px;
       line-height: 1.5;
       font-size: 14px;
     }
     &--drop-box{
       position: relative;
       display: block;
       height: 162px;
       background: $gray;
       margin: 16px auto 0;
       border: 1px dashed $bordar-color;
       padding: 40px;
       cursor: pointer;
       &--file{
         width: 100%;
         margin-left: 0;
         width: 620px;
         padding: 40px; 
       }
       &--click{
         position: absolute;
         top: 36%;
         left: 16px;
         right: 16px;
         text-align: center;
         font-size: 14px;
         line-height: 1.5;
       }
     }
   }
   &__item-info{
     padding: 40px;
     border-bottom: solid 1px $gray;
     &--name{
       &--input{
       width: 100%;
       height: 48px;
       padding: 10px 16px 8px;
       margin: 8px auto 0;
       border-radius: 4px;
       border: 1px solid $bordar-color;
       background: $white;
       line-height: 1.5;
       font-size: 16px;
       outline-style: none;
       background: #fff;
         &:focus{
           border: 1px solid $link-color ;
         }
       }
     }
     &--description{
       margin-top: 40px;
     }
   }
   &__item-about{
     padding: 40px;
     border-bottom: solid 1px $gray;
     &--head{
       float: left;
       color: $dark;
       font-size: 14px;
       font-weight: 600;
     }
     &--box{
       width: 400px;
       float: right;
       &--category{
         position: relative;
       }
       &--condition{
         position: relative;
         margin-top: 40px;
       }
     }
   }
   &__shipping{
     padding: 40px;
     border-bottom: solid 1px $gray;
     border-top: solid 1px $gray;
     &--head{
       float: left;
       color: $dark;
     }
     & h3{
       font-size: 14px;
     }
     & a{
       color: $white;
     }
     &--box{
       width: 400px;
       float: right;
       &--charge{
         position: relative;
       }
       &--method,--ship-from-region,--date{
         position: relative;
         margin-top: 40px;
       }
       &--ship-from-region{
         position: relative;
         margin-top: 40px;
       }
       &--date{
         position: relative;
         margin-top: 40px;
       }
     }
   }

   &__price{
     padding: 40px;
     border-bottom: solid 1px $gray;
     &--head{
       float: left;
       color: $dark;
     }
     & h3{
       font-size: 14px;
     }
     & a{
       color: $white;
     }
     &--box{
       width: 400px;
       float: right;
       & ul{
         list-style: none;
       }
       &--list_top{
         padding: 0 0 24px;
         &--label{
           border: 0;
           & label{
             display: inline-block;
             width: 200px;
             line-height: 48px;
             font-weight: 600;
           }
         }
         &--right{
           width: 50%;
           height: 48px;
           float: right;
           text-align: right;
           & p {
             display: inline-block;
             margin-right: 10px;
           }
           &--space{
             display: inline-block;
             margin: 0 0 0 5%;
           }
           &--input{
            width: 160px;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 15px;
            background: $white;
            outline-style: none;
            text-align: right;
            &:focus{
              border: 1px solid $link-color ;
              }
       &::placeholder{
            text-align: right;
         }
       }
     }
   }
       &--list_center{
         padding: 24px 0;
         border-top: solid 1px #ccc;
         &--text{
           float:left;
           display: inline-block;
           font-size: 14px;
         }
         &--sales{
           display: inline-block;
           float: right;
         }
       }

.sell-form {
  border-top: 1px solid #eee;
}

.confirm-info__footer{
  width: 456px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
    li {
      font-size: 12px;
      display: inline-block;
      padding: 0 5px;
      a{
        text-decoration: none;
        color: $black;
        &:hover{
          color: $dark;
          border-bottom: 1px solid $dark;
        }
      }
    }
    p {
      margin: 8px 0 0;
    }
}

.single-footer-logo{
  width: 80px;
  height: 65px;
  margin: 40px auto 0;
}

.form-question{
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}

.clearfix::after{
  display: block;
  clear: both;
  height:0px;
  visibility:hidden;
  content:".";
}

i.sell.fas.fa-chevron-down {
position: absolute;
left: 368px;
top: 50px;
z-index: 2;
color: $dark;
font-size: 18px;
-webkit-transform: translate(0, -50%);
transform: translate(0, -50%);
&::before{
  color: $dark;
}
} 

#fas{
position: absolute;
left: 368px;
top: 108px;
font-size: 18px;
-webkit-transform: translate(0, -50%);
transform: translate(0, -50%);
&::before{
  color: $dark;
}
} 

#fas2{
position: absolute;
left: 368px;
top: 164px;
font-size: 18px;
-webkit-transform: translate(0, -50%);
transform: translate(0, -50%);
&::before{
  color: $dark;
}
} 

.explanation{
overflow: auto;
width: 100%;
height: 142px;
max-width: 100%;
min-height: 104px;
padding: 10px;
margin-top: 8px;
border: 1px solid $bordar-color;
background: $white;
font-size: 15.8px;
outline-style: none;
line-height: 1.55;
resize: both;
&:focus{
  border: 1px solid $link-color ;
}
}

.need_icon {
display: inline;
} 

.profit {
display: inline;
}