.main_item{
  width: 620px;
  height: 100%;
  margin: 40px auto 0;
  padding: 24px 40px 40px;
  background: #ffffff;
  h1{
    font-size: 24px;
    height: 33px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    color: #333333;
    font-weight: bold;
    margin: 0 0 16px 0;
    display: block;
    width: auto;
  }
}
.item_main_content{
  margin: 0 auto;
  width: 620px;
  height: 420px;
  outline: none;
  .item_photo{
    background: #fafafa;
    float: left;
    min-width: 300px;
    max-width: 300px;
    height: 375px;
    margin: 0 auto;
    border: none;
  }
}
.cp_cssslider {
  position: relative;
  margin: 0 auto;
  text-align: center;
  li{
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
    object-fit: cover;
    display: inline-block;
  }
}
.image-dots{
  text-align: center;
  li{
    display: inline-block;
    margin: 0 auto;
    opacity: .5;
    img{
      width: 65px;
      height: 65px;
    }
  }
}
.slick-slide.slick-current.slick-active{
  opacity: 1;
  outline:none;
}
li img{
  width: 300px;
  height: 300px;
}

.item_detail_table{
  float: right;
  max-width: 300px;
  height: 420px;
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  th{
    font-size: 14px;
    padding: 8px;
    width: 39%;
    text-align: left;
    font-weight: 400;
    border: 1px solid #f5f5f5;
    background: #fafafa;
  }
  td{
    font-size: 14px;
    padding: 8px;
    width: 61%;
    border: 1px solid #f5f5f5;
    background: #fff;
    
  }
  a{
    font-size: 14px;
    color: #2772ce;
  }
  span{
    font-weight: 500;
    font-size: 14px;
    color: #2772ce;
  }
}
.item_user_ratings:first-child{
  margin: 0;
}
.item_user_ratings{
  display: inline-block;
  margin: 8px 0 0 16px;
  span{
    color: #333;
  }
}
.fa-laugh{
  font-size: 1.2em;
  color: #ef5185;
}
.fa-meh{
  font-size: 1.2em;
  color: #fba933;
}
.fa-frown{
  font-size: 1.2em;
  color: #6ab5d8;
}
.item_detail_table_sub_categpry{
  i{
    margin: 0;
    color: #2772ce;
    float: left;
  }
  .icon_right{
    float: right;
    color: #2772ce;
  }
}
.item{
  float: left;
  margin: 0 0 0 0;
}
.item_price_box{
  clear: both;
  padding: 24px 0 0;
}
.text_center{
  text-align: center;
  span{
    color: #333;
    .item_tax{
      font-size: 10px;
    }
    .item_shipping_fee{
      display: inline-block;
      font-size: 16px;
    }
  }
}
.item_price{
  margin: 0 16px 0 0;
  font-size: 50px;
}
.bold{
  font-weight: 600;
}
.item_tax{
  font-size: 10px;
}
.item_shipping_fee{
  display: inline-block;
  font-size: 16px;
}
.item_buy_btn{
  font-size: 24px;
  line-height: 60px;
  display: block;
  margin-top: 16px;
  background: #ea352d;
  color: #fff;
  text-align: center;
  font-weight: 600;
  transition: all ease-out .3s;
}
.sold-out-btn{
  font-size: 24px;
  line-height: 60px;
  display: block;
  margin-top: 16px;
  background: #cacaca;
  color: #fff;
  text-align: center;
  font-weight: 600;
  transition: all ease-out .3s;
}
.item_description{
  white-space: pre-wrap;
  p{
    text-align: justify;
    line-height: 2;
  }
}
.f1{
  font-size: 18px;
}
.item_button_container{
  display: flex;
}
.item_button_left{
  .like_botton{
    font-family: inherit;
    width: 93px;
    height: 28px;
    outline-width: 0;
    font-size: 14px;
    border-radius: 40px;
    padding: 7px 7px;
    background: #f5f5f5;
    border: none;
    cursor: pointer;
  }
}
.item_button{
padding: 8px 16px;
border-radius: 40px;
transition: all ease-out .3s;
margin: 0 0 0 6px;
background: #f5f5f5;
.fa-flag{
  display: inline-table;
}
  span{
    margin-left: 5px;
    font-size: 14px;
    color: #333;
  }
}
.item_button_right{
  margin: 0 0 0 110px;
  a{
    color: #0099e8;
    text-decoration: none;
    font-size: 0.8em;
  }
  span{
    font-weight: normal;
    margin: 10px 0 0 1px;
    color: #0099e8;
    font-size: 14px
  }
}
.item_detail_message{
  width: 700px;
  height: 100%;
  margin: 8px auto;
}
.message_content{
  padding: 24px;
  background: #fff;
}
.message_form p{
  padding: 8px;
  font-size: 14px;
  background: #fff6de;
  color: #333333;
}
.textarea_default{
  margin: 8px 0 0;
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  outline-width: 1px;
}
.message_submit{
  width: 100%;
  height: 50px;
  margin: 8px 0 0;
  text-align: center;
  background: #aaa;
  border: 1px solid #aaa;
  outline: 1px;
  cursor: pointer;
  span{
    font-size: 14px;
    color: #fff;
  }
}
.item_link_prev_next{
  display: flex;
  margin: 24px auto;
  width: 700px
}
.item_prev{
  font-size: 20px;
  width: 50%;
  span{
    margin-bottom: 3px;
    color: #0099e8;
    text-decoration: none;
    font-weight: normal;
  }
  .fa-chevron-left{
    margin: 3px;
    color: #0099e8;

  }
}
.item_next{
  width: 50%;
  float: right;
  text-align: right;
  font-size: 20px;
  span{
    margin-top: 3px;
    color: #0099e8;
    text-decoration: none;
    font-weight: 100;
  }
  a:hover{
    color: #0099e8;
    
  }
  .fa-chevron-right{
    float: right;
    color: #0099e8;
    margin: 3px;
  }
}
.item_social_box{
  width: 700px;
  margin: 24px auto;
  padding: 32px 0 24px;
  background: #fff;
}
.social_box{
  margin: 16px 0 0;
  text-align: center;
  li{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }
  i{
    width: 44px;
    height: 44px;
    border-radius: 4px;
    line-height: 44px;
  }
  .fa-facebook-square{
    font-size: 2em;
    width: 44px;
    height: 44px;
    color: #fff;
    margin: 0 8px 8px 0;
    background: #385185;;
  }
  .fa-twitter{
    font-size: 2em;
    width: 44px;
    height: 44px;
    margin: 0 8px 8px 0;
    color: #fff;
    background: #5d9dc9;
  }
  .fa-pinterest{
    color: #fff;
    background: #aa262a;
    font-size: 1.2em;
    margin: 0 8px 8px 0;
  }
}
.user_items_profile{
  width: 700px;
  margin: 0 auto;
}
.user_item_profile{
  font-size: 22px;
  margin: 24px 0 8px;
  a{
    color: #0099e8;
    text-decoration: none;
    font-weight: bold;
  }
}
.items_box_content{
  display: inline-flex;
  margin: 0 9px 20px 0;
  width: 220px;
  height: 100%;
}
.items_box{
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
  display: grid;
  float: left;
  width: 220px;
  margin: 0 20px 20px 0;
  .items_box_photo{
    width: 220px;
    height: 220px;
  }
}
.items_box:after{
  display: block;
  content: '';
  clear: both;
}
.items_box_body{
  background: #ffffff;
  padding: 16px;
  height: 110px;
}
.items_box_name {
  overflow: hidden;
  display: inline-block;
  text-align: left;
  font-weight: 400;
  height: 3em;
  line-height: 1.5;
  word-break: break-word;
  font-size: 16px;
  color: #333;
}
// .items_box_name:after{
//   display: block;
//   content: '';
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   width: 50%;
//   height: 1.5em;
//   background: linear-gradient(to right,rgba(255,255,255,0), #fff 40%);
// }
.items_box_price{
  font-size: 17px;
  font-weight: 600;
  color: #333;
  margin: 8px 0 0 0;
}

// #mishima 
.image-dots {
  outline:none;
}
.sold3 p {
  color: white;
  font-weight: bold;
  font-size: 20px;
  bottom: 55px;
  left: 5px;
  transform: rotate(-45deg);
  z-index: 3;
  position: absolute;
}