.al, ah, area, button, input, label, select, textarea, [tabindex] {
  touch-action: manipulation;
}

a {
  text-decoration: none;  
}

button {
  width: 329px;
  height: 48px;
  display: inline-block;
  font-family: 'icon-font';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-family: 'icon-font';
  overflow: visible;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  align-items: flex-start;
  outline: 0;
}

.img3 {
  width: 185px;
  height: 49px;
  vertical-align: middle;
  color: #fff;
  text-shadow: none;
  text-align: center;
}

*, ::before, ::after {
  border-style: solid;
  border-width: 0;
}

*, ::before, ::after {
  border-style: solid;
  border-width: 0;
}

.btn-sns {
  position: relative;
}

.btn-sns-facebook {
  background: #385185;
  color: #fff;
}

.btn-default {
  display: block;
  line-height: 48px;
  font-size: 13px;
  border: 1px solid transparent;
  transition: all ease-out .3s;
  text-align: center;
  font-family: Meiryo;
  cursor: pointer;
}

.btn-sns-google {
  margin: 16px 0px;
  background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
  border: #979797 solid 1px;
  color: #333;
}

.input-default3 {
  height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 14px;
}

:selection {
  color: #b3d4fc;
}

.form-group {
  width: 328px;
  height: 48px;
  margin-top: 53px;
  display: inline-block;
}

.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  top: 100px;
  margin-top: 48px;
}

.single-footer p {
  width: 400px;
  height: 14px;
  margin: 8px 865px 0px;
}

body {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  line-height: 1;
  background: #f5f5f5;
  .single-container_login {
    // width: 1440px;
    height: 128px;
    padding-bottom: 220px;
    text-align: center;
    background-color: #f5f5f5;
    position: relative;
  }
    .single-header {
      // width: 1440px;
      height: 128px;
    }
    h1#logomer {
      width: 193px;
      height: 49px;
      margin-top: 40px;
      font-weight: bold;
      font-size: inherit;
      display: inline-block;
      .registration {
        width: 185px;
        height: 49px;
        color: #0099e8;
        margin-right: 8px;
        text-decoration: inherit;
        vertical-align: inherit;
      }
    }  
      
    .single-main {
      width: 1440px;
      height: 731px;
      background-color: #f5f5f5;
      margin: 0 auto;
    }
    .login-panel {
      width: 456px;
      height: 731px;
      margin: 0px 492px;
      background-color:#ffffff;
      .login-no-account {
        display: block;
        margin: 0;
        padding: 24px 32px 45px 32px;
        text-align: center;
        border: 2px solid rgb(245, 245, 245);
        text-decoration: none;
        p {
          height: 14px;
          font-size: 14px;
          text-align: center;
        }
        .al {
          width: 329px;
          height: 28px;
          margin-top: 8px;
          padding-top: 13px;
          border: 1px solid #0099e8;
          background-color:#0099e8;
          color: #fff;
          border-style: solid;
          font-size: 13px;
          display: inline-block;
          box-sizing: initial;
        }
        .af {
          display: block;
          margin: 40px 0 0;
        }
      }
      .login-form-inner {
        width: 328px;
        height: 116px;
        padding: 32px 64px;
          .login-input-text-m {
            width: 291px;
            height: 27px;
            display: inline-block;
          }
          .input-default3 {
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 14px;
            box-sizing: content-box;
          }
          .falo{
            color: #fff;
          }
        .form-group-pass {
          width: 328px;
          height: 48px;
          display: inline-block;
          margin-top: 24px;
          .login-input-text-p {
            width: 294px;
            height: 27px;
            display: inline-block;
          }
          .input-default {
            width: 100%;
            box-sizing: border-box;
          }
        }
        .form-group-captcha {
          .g-recaptcha.login-captcha {
            iframe {
              margin-top: 24px;
            }
          }
        }
        .af {
          margin: 25px;
          color: #0099e8;
          float: left;
        }
        .fab.fa-facebook-square {
          float: left;
          margin: 8px -35px 0px 15px;
        }
        .google_png {
          width: 18px;
          height: 18px;
          float: left;
          margin: 14px -35px 0px 19px;
        }
        input {
          text-rendering: auto;
          letter-spacing: normal;
          word-spacing: normal;
          text-transform: none;
          text-indent: 0px;
          text-shadow: none;
          display: inline-block;
          text-align: start;
          font: 400 11px system-ui;
        }
      }
    }

  .footer3 {
    background-color: #f5f5f5;
    padding: 40px 0px;
    .single-footer {
      width: 456px;
      height: 220px;
      background-color: #f5f5f5;
      margin: 0 auto;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      text-align: center;
      display: block;
      position: absolute;
    }
    nav {
      width: 456px;
      height: 12px;
      margin: 0px auto;
      display: block;
      ul.clearfix {
        li {
          width: 119.41px;
          height: 12px;
          display: inline-block;
          font-size: 12px;
          .lir {
            width: 131.531px;
            height: 12px;
            margin-left: 16px;
            display: inline-block;
            font-size: 12px;
          }
          a {
            text-decoration: none;
            display: block;
            color: #333;
          }
        }
      }
    }
      a.single-footer-logo {
        width: 80px;
        height: 65px;
        margin: 40px auto 0;
        display: block;
        color: #333;
        text-align: center;
          img.mercari {
            width:80px;
            height:65px;
          }
      }
      .single-footer p {
        small {
          color: #333;
          width: 81.06px;
          height: 17px;
          font-size: 12px;
          font-family: YuGothic;
        }
      }
    }
}

#log_out.create__main1 {
  box-sizing:border-box;
  padding:40px;
  height:179px;
  background-color: white;
}

#logoutbutton8 {
  color:white;
  
}

#addbutton {
  box-sizing: border-box;
  background-color:red;
  height:50px;
  width:300px;
  margin:auto;
  padding:15px;
  position:relative;
  bottom:-18px;
}

input#user_email.login-input-text-m.input-default3 {
  position:relative;
  right:66px;
  bottom:50px;
}

input#user_password.login-input-text-p.input-default3 {
  position:relative;
  right:66px;
  bottom:50px;
}

#rec.form-group-captcha {
  position:relative;
  right:55px;
}

.login-submit.btn-default.btn-red {
  height:43px;
  width:331px;
  text-align: center;
  position:relative;
  top:0px;
  right:70px;
  bottom:50px;
}