* {
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  font-size: inherit;
  line-height: inherit;
  border-style: solid;
  cursor: auto;
}

html {
  height: 100%;
  display: block;
}

.al, ah, area, button, input3, label, select, textarea, [tabindex] {
  touch-action: manipulation;
}

a {
  text-decoration: none;  
}

button {
  width: 329px;
  height: 48px;
  display: inline-block;
  font-family: 'icon-font';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-family: 'icon-font';
  overflow: visible;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  align-items: flex-start;
  outline: 0;
}

img {
  width: 185px;
  height: 49px;
  vertical-align: middle;
  color: #fff;
  text-shadow: none;
  text-align: center;
}

*, ::before, ::after {
  border-style: solid;
  border-width: 0;
}

*, ::before, ::after {
  border-style: solid;
  border-width: 0;
}

.btn-sns {
  position: relative;

}

.btn-sns-facebook {
  background: #385185;
  color: #fff;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 13px;
  border: 1px solid transparent;
  transition: all ease-out .3s;
  text-align: center;
  font-family: Meiryo;
  cursor: pointer;
}

.btn-sns-google {
  margin: 16px 0 0;
  background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
  border: #979797 solid 1px;
  color: #333;
}

.input-default3 {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 14px;
}

:selection {
  color: #b3d4fc;
}

body {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
  .single-container {
    width: 1440px;
    height: 128px;
    padding-bottom: 220px;
    text-align: center;
    background-color: #f5f5f5;
    position: relative;
  }
    .single-header {
      width: 1440px;
      height: 128px;
    }
    h1 {
      width: 193px;
      height: 49px;
      margin-top: 40px;
      font-weight: bold;
      font-size: inherit;
      display: inline-block;
      .registration {
        width: 185px;
        height: 49px;
        color: #0099e8;
        margin-right: 8px;
        text-decoration: inherit;
        vertical-align: inherit;
      }
    }
    
    .single-main {
      width: 1440px;
      height: 731px;
      background-color: #f5f5f5;
    }
    .login-panel {
      width: 456px;
      height: 731px;
      margin: 0px 492px;
      background-color:#ffffff;
      .login-no-account {
        width: 392px;
        height: 64px;
        display: block;
        margin: 0;
        padding: 24px 32px 45px 32px;
        text-align: center;
        border: 2px solid rgb(245, 245, 245);
        text-decoration: none;
        p {
          height: 14px;
          font-size: 14px;
          text-align: center;
        }
        .al {
          width: 329px;
          height: 28px;
          margin-top: 8px;
          padding-top: 13px;
          border: 1px solid #0099e8;
          background-color:#0099e8;
          color: #fff;
          border-style: solid;
          font-size: 13px;
          display: inline-block;
          box-sizing: initial;
        }
      }
      .login-form-inner {
        width: 328px;
        height: 116px;
        padding: 32px 64px;
      }
        button {
          // #facebook-login {
          
          // }
          
          // .btn-sns-facebook {
          //   background: #385185;
          //   color: #fff;
          // }
        }
        // .google-login {
        //   width: 329px;
        //   height: 48px;
        //   margin-top: 16px;
        // }
      // form {
      .login-form-inner {
        .form-group {
          width: 328px;
          height: 48px;
          display: inline-block;
          .login-input-text-m {
            width: 291px;
            height: 47px;
            display: inline-block;
          }
          .input-default3 {
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 14px;
          }
        }
        .form-group-pass {
          width: 328px;
          height: 48px;
          display: inline-block;
          margin-top: 24px;
          .login-input-text-p {
            width: 294px;
            height: 27px;
            display: inline-block;
          }
          .input-default {
            width: 100%;
            box-sizing: border-box;
          }
        }
        .form-group-captcha {
          iframe {
            margin-top: 24px;
          }
        }
        button {
          .login-submit {
            margin: 48px 0 40px;
            display: block;
          }
          .btn-red {
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            top: 100px;
          }
        }
        input3 {
          text-rendering: auto;
          letter-spacing: normal;
          word-spacing: normal;
          text-transform: none;
          text-indent: 0px;
          text-shadow: none;
          display: inline-block;
          text-align: start;
          font: 400 11px system-ui;
        }
      }
      // }
    }
    
    .single-footer {
      width: 456px;
      height: 220px;
      padding: 40px 0px;
      margin: 0 auto;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      text-align: center;
      display: block;
    }
    nav {
      width: 456px;
      height: 12px;
      display: block;
      ul.clearfix {
        width: 456px;
        height: 12px;
        font: 66.66667%;
        text-align: center;
        li {
          width: 119.41px;
          height: 12px;
          display: inline-block;
          font-size: 12px;
          .lir {
            width: 131.531px;
            height: 12px;
            margin-left: 16px;
            display: inline-block;
            font-size: 12px;
          }
          .single-footer a {
            text-decoration: none;
            display: block;
            color: #333;
          }
        }
      }
    }
      a.single-footer-logo {
        width: 80px;
        height: 65px;
        margin: 40px auto 0;
        display: block;
        color: #333;
        text-align: center;
          img.mercari {
            width:80px;
            height:65px;
          }
      }
      .single-footer p {
        width: 400px;
        height: 14px;
        margin-top: 8px;
        margin-left: 25px; 
        small {
          width: 81.06px;
          height: 17px;
          font-size: 12px;
          font-family: YuGothic;
        }
      }
    
  
}