.single-header-top{
    width:25%;
    margin-left:250px;
    margin-bottom:10px;
}
.send-buttons{
    padding-right: 16px;
    padding-bottom: 40px;
    padding-left: 16px;
  .submit-btn-mail{
  margin-left:180px;
  background-color:#ea352d;;
  text-align: center;
  color: #fff;
  margin-top: 20px;
  line-height: 48px;
  font-size: 14px;
  width: 47%;
  border:none;
  border-radius: 5px 5px 5px 5px ;
  }
  i {
    position:relative;
    right:300px;
    top:5px;
    color:white;
  }
  .submit-btn-fb{
  margin-left:180px;
  background-color:#385185;
  text-align: center;
  color: #fff;
  margin-top: 16px;
  line-height: 48px;
  font-size: 14px;
  width: 47%;
  border:none;
  border-radius: 5px 5px 5px 5px ;
  }
  .facebookicon2 {
    position:relative;
    right:439px;
    top:-8px;
  }
  .fare {
    position:relative;
    right:225px;
    top:-15px;
    color: #fff;
  }
  .submit-btn-google{
  margin-left:180px;
  background-color:white;
  text-align: center;
  color:#888;
  margin-top: 16px;
  line-height: 48px;
  font-size: 14px;
  width: 47%;
  border: #979797 solid 1px;
  border-radius: 5px 5px 5px 5px ;
  }
  .googleicon2 {
    position:relative;
    right:428px;
    top:-8px;
  }
}
.goore {
  position:relative;
  right:225px;
  top:-15px;
}