.end-comment{
  margin-top:40px;
  text-align:center;
}
.submit-btn5{
  margin-left:180px;
  background-color:#ea352d;;
  text-align: center;
  color: #fff;
  margin-top: 50px;
  line-height: 48px;
  font-size: 13px;
  width: 47%;
  border:none;
  margin-bottom:100px;
}