%html{
height:100%;
background:rgb(245, 245, 245);}
 .user-information{
  padding-bottom: 250px;
  @import "header-reg";
  .main-reg{
  background-color:white;
  max-width: 343px;
  font-size :15px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
   
   .form-main{
    .top-head{
      padding: 16px,16px,16px,16px;
      font-size: 18px;
      line-height: 1.5;
      text-align: center;
      font-weight: bold;
    }
    .main-section{
      max-width: 343px;
      margin: 0 auto;
      .form-necessary{
        margin-left: 8px;
        padding-top: 2px;
        padding-right: 4px;
        padding-bottom: 2px;
        padding-left: 4px;
        background-color:#ea352d;
        color:#fff;
        border-radius: 2px 2px 2px 2px;
        font-size:12px;
        vertical-align: top;
      }
      .form{
        margin-top: 24px;
      }
      .nickname{
        font-weight: 600;
        display: inline-block;
      }
      .email{
        font-weight: 600;
        display: inline-block;
      }
      .password{
        font-weight: 600;
        display: inline-block;
      }
      input{
        width: 100%;
        margin: 8px 0 0;
        height: 28px;
        padding-top: 10px;
        padding-right: 16px;
        padding-bottom: 8px;
        padding-left: 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
        outline-width:1px;
        outline-color:#0099e8;
      }
      .text-left-sub-head{
        font-weight: 600;
        margin-top: 24px;
      }
      p.sub-head-text{
        margin-top: 8px;
      }
      .name{
        font-weight: 600;
        display: inline-block;
        margin-top: 24px;
      }
      .name-kana{
        font-weight: 600;
        display: inline-block;
        margin-top: 24px;
      }
      .year{
        width: calc(34% - 17px);
        position: relative;
        background: #fff;
      } 
      .month{
        width: calc(34% - 17px);
        position: relative;
        background: #fff;
      }
      .day{
        width: calc(34% - 17px);
        position: relative;
        background: #fff;
      }
      }
      .user-warning{
        margin-top: 8px;
        color:#888;
      }
      .reCAPTCHA{
        img{
          width:100%;
          height: 50px;
          vertical-align: bottom;
          margin-top: 24px;
        }
      }
      .user-rule{
        margin-top: 24px;
        text-align: center;
        font-size:14px;
        a{
          text-decoration: none ;
          color:#0099e8;
        }
      }
      .submit-btn{
        background-color:#ea352d;;
        text-align: center;
        color: #fff;
        margin-top: 24px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        line-height: 48px;
        font-size: 13px;
        width: 100%;
        }
      .form-group-caution{
        margin-top: 24px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        text-align: right;
        a{
        text-decoration: none ;
        color:#0099e8;
      }
      }
    }
     }
  @import "footer-reg";
 }

