.phonenumber{
  margin-top:40px;
  margin-left:200px;
}
.input-phone{
  margin-top:8px;
  margin-left:200px;
  height:48px;
  width: 343px;
  input{
    box-sizing: border-box;
    height:48px;
    width: 343px;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
    outline-width:1px;
    
}}
.confirm-reg{
  margin-left:200px;
  width: 50%;
  margin-top:8px;
}
.submit-btn2{
  margin-left:200px;
  background-color:#ea352d;;
  text-align: center;
  color: #fff;
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 0px;
  line-height: 48px;
  font-size: 13px;
  width: 47%;
  border:none;
}
.confirm-reg2{
  margin-left:200px;
  width: 50%;
  margin-top:8px;
}
.caution2{
  margin-top: 24px;
  margin-right: 0px;
  margin-left:120px;
  padding-bottom:50px;
  font-weight: 600;
  .confirm-reg2{
  text-decoration: none ;
  color:#0099e8;
  }
  i{
    color:#0099e8;
    position:relative;
    left:410px;
   }
}
