.user-reg3 {
  z-index:5;
  box-sizing: border-box;
  padding:0px 362.5px;
  width:1425px;
  height:100%;
  margin:auto;
  text-align: center;
  %main.main_contents-1 {
    margin:auto;
  text-align: center;
  }
}