.done{
 margin-bottom:100px;
 padding:200px;
 font-size:30px;
 text-align:center;
}

a{
  color:red
}


.single-main__main1 {
  width:1440px;
  height:128px;
  background-color: #ffffe0;
  box-sizing: border-box;
  padding:40px;
  &__hassou1 {
    font-size:20px;
    color:tomato;
  }
  &__hassou2 {
    margin-top:10px;
  }
}

.single-main__main2 {
  width:1440px;
  &__kannryou1 {
    height:128px;
    font-weight:bold;
    font-size:30px;
    box-sizing: border-box;
    padding:40px;
  }
  &__kannryou2 {
    height:225px;
  }
}

.single-main__main3 {
  width:1440px;
  height:128px;
  box-sizing: border-box;
  padding:100px;
  &__souryou1 {
    span{
      color: #333;}
    .item_price{
      margin: 0 16px 0 0;
      font-size: 50px;
    }
    .bold{
      font-weight: 600;
    }
    
  }
}