.sell_btn{
  position: fixed;
  font-size: 22px;
  bottom: 32px;
  width: 160px;
  height: 160px;
  background-color: #ea352d;
  color: #fff;
  border-radius: 50%;
  z-index: 1000;
  right: 30px;
  text-align: center;
  text-decoration: none;
}

.footer_sell_btn div{
  margin: 30px 0 0;
}

.fa-camera{
  font-size: 2.7em;
  display: inline-block;
}

aside{
  height: 260px;
  width: 100%;
}

.bottom_banner{
  display: flex;
  background: url(download_bg_pc.jpg);
  background-position: center;
  background-size: cover;
  height: 260px;
  width: 100%;
  position: relative;
}

.bottom_banner_pc{
  display: block;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.bottom_banner_pc>figure img{
  position: absolute;
  height: 260px;;
  width: 300px;
  right: 350px;
}

.bottom_banner_pc_block{
  color: #ffffff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 330px;
  top: 50px;
}

.bottom_banner_pc_block h2{
  font-size: 24px;
  margin: 0;
}

.bottom_banner_pc_block p{
  font-size: 35px;
  margin: 10px 0 0;
}

.marcari_icon_pc{
  height: 68px;
  width: 68px;
}

.AppStore{
  height: 45px;
  width: 133px;
}

.google-play-badge{
  height: 45px;
  width: 133px;
}
.bottom_banner_pc_icon{
  margin: 20px 0;
  display: flex;
}

.app_icon {
  padding: 0 0;
  display: flex;
  margin: 15px;
}

.app_icon li{
  margin: 0 8px;
}

.footer {
  clear: both;
  width: 1440px;
  height: 389px;
  background-color: #222222;
  /* padding: 0px 20px 10px; */
}

.top {
  width: 1020px;
  height: 296px;
  margin: 0px 210px;
}

.first {
  width: 207.17px;
  height: 240px;
  display: inline-block;
  float: left;
  white-space: nowrap;
  margin-top: 5px;
}

.footer h2{
  font-size: 16px;
}

.footer a{
  color: #BABABA;
  font-size: 12px;
  text-decoration: none;
}

.title {
  width: 167.17px;
  height: 22px;
  color: #FFFFFF;
  font-size: 14px;
  /* letter-spacing: 1px; */
}

.content {
  width: 167.17px;
  height: 202px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.content li {
  width: 167.17px;
  height: 14px;
  margin-top: 16px;
  list-style: none;
  font-size: 10px;
  /* letter-spacing: 1px; */
  text-align: left;
  text-decoration: none;
}

.content a {
  width: 120px;
  height: 14px;
  color: #BABABA;
  text-decoration: none;
}

.sc-cBrjTV.gdPTKQ {
  width: 50px;
  height: 24.84px;
  margin: 30px 0px 0px;
}

.jobs {
  width: 48px;
  height: 14px;
}

.press {
  width: 83.53px;
  height: 14px;
}

.blog {
  width: 59.53px;
  height: 14px;
}

.guidelines {
  width: 167.17px;
  height: 14px;
}

.left {
  width: 50px;
  height: 24.84px;
  color: #FFFFFF;
}

.portrait {
  width: 30px;
  height: 24.84px;
  color: #FFFFFF;
}

path{
  width: 28.79px;
  height: 24.84px;
}

.facebook {
  width: 26px;
  height: 26px;
  color: #FFFFFF;
}

svg{
  width: 28px;
  height: 26px;
  margin-top: 28.84px;
  color: #FFFFFF;
  float: left;
}

.second {
  width: 230.33px;
  display: inline-block;
  float: left;
  white-space: nowrap;
  margin-top: 5px;
}

.liS {
  width: 190.33px;
  height: 14px;
  margin-top: 16px;
  list-style: none;
  font-size: 10px;
  /* letter-spacing: 1px; */
  text-align: left;
  text-decoration: none;
}

.contentS {
  width: 190.33px;
  height: 240px;
  margin: 0px;
  padding: 0px;
}

.titleH {
  width: 167.17px;
  height: 22px;
  color: #FFFFFF;
  font-size: 14px;
  /* letter-spacing: 1px; */
  text-align: left;
}

.third {
  width: 438.59px;
  height: 166px;
  display: inline-block;
  float: left;
  line-height: 1em;
  margin-top: 5px;
}

.titleP {
  width: 398.59px;
  height: 22px;
  color: #FFFFFF;
  font-size: 14px;
  /* letter-spacing: 1px; */
  text-align: left;
}

.hidari {
  width: 199.3px;
  height: 144px;
  display: inline-block;
  float: left;
  padding: 0px 10px 0px 0px;
  margin-top: -15px;
}

.contentT {
  margin: 0;
  width: 189.3px;
  height: 128px;
  padding-left: 0px;
}

.migi {
  width: 199.3px;
  height: 144px;
  display: inline-block;
  float: left;
  padding: 0px 0px 0px 10px;
  margin-top: -15px;
}

.liT {
  width: 189.32px;
  /* height: 14px; */
  margin: 16px 0px 0px;
  list-style: none;
  font-size: 10px;
  /* letter-spacing: 1px; */
  text-align: left;
  text-decoration: none;
}

.fourth {
  width: 112.05px;
  height: 86px;
  display: inline-block;
  float: left;
  margin-top: 5px;
}

.country {
  width: 72.05px;
  /* height: 22px; */
  color: #FFFFFF;
  font-size: 14px;
  /* letter-spacing: 1px; */
  text-align: left;
}

.c {
  /* width: 72.05px; */
  height: 48px;
  padding: 0px;
  margin: 0px;
}

.nippon {
  width: 72.05px;
  height: 32px;
  margin-top: 16px;
  list-style: none;
  font-size: 10px;
  /* letter-spacing: 1px; */
  text-align: left;
}

.n {
  width: 72.05px;
  height: 16px;
  margin-top: 16px;
  text-decoration: none;
}

.nip {
  display: block;
  margin-top: 0px;
}

.bottom {
  width: 1020px;
  height: 33px;
  margin: 30px 190px 20px 190px;
}

.logo {
  width: 124px;
  height: 33px;
  float: left;
}

.trademark {
  width: 765px;
  height: 12px;
  font-size: 12px;
  margin-top: 15px;
}

span{
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  float: left;
}
