body{
  height: 100%;
  width: 100%;
  background: #f1f1f1;
}

.header{
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  margin: 0px auto;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  z-index: 3;
  display: block;
}
.user_page_links svg{
  margin-top: 1px;
  height: 16px;
  color: #BABABA;
}

.user_page_links span{
  float: right;
  color: #565656;
  vertical-align: middle;
}

.like{
  padding: 0 11px 0 0;
  text-decoration: none;
  a{
    padding-right: 0px;
    margin: 10px 0 10px 0;
  }
}
.notice{
  padding: 0 14px;
}
.notification{
  text-decoration: none;
}
.todo{
  padding: 0 14px;
}
.todoing{
  text-decoration: none;
}
.mypage{
  padding: 0 0 0 14px;
  &_font{
    text-decoration: none;
  }
  &_img{
    border-radius: 50%;
    height: 32px;
    width: 32px;
    float: left;
  }
  span{
    text-align: center;
    margin: 8px 0 0 10px;
  }
}

.menu_bar{
  -webkit-box-align: center;
    width: 1020px;
    height: 100px;
    margin: 0px auto;
    padding: 8px 0px 0px;
    box-sizing: border-box; 
}
.headup{
  display: flex;
  width: 1020px;
  height: 40px;
}
.mercarilogo{
  -webkit-box-align: center;
    align-items: center;
    display: flex;
    color: inherit;
    text-decoration: none;
}
.logo_img{
  margin-right: 45px; 
  height: 36px;
}
.form{
  position: relative;
  width: 100%;
}
.search_form{
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  height: 40px;
  line-height: 1.4em;
  position: relative;
  width: 841px;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  padding: 0px 50px 0px 10px;
  transition: all 0.3s ease-out 0s;
  box-sizing: border-box;
  &_button{
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    -webkit-appearance: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px 4px 4px 0px;
    padding: 0px;
    box-sizing: border-box; 
  } 
}
.search_button{
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  -webkit-appearance: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px 4px 4px 0px;
  padding: 0px;
  box-sizing: border-box; 
}
.button_a{
  max-width: 100%;
  max-height: 100%;
  color: rgb(34, 34, 34);
  height: 14px;
  margin-top: 2px;
  width: 14px;
}
.headdown{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 8px;
  box-sizing: border-box;
}
.search{
  display: flex;
  margin-left: -10px;
  box-sizing: border-box;
  &_category{
    padding-left: 0px;
    cursor: pointer;
    height: 44px;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
    &_link{
      display: block;
      font-size: 14px;
      font-weight: 600;
      line-height: 36px;
      white-space: nowrap;
      color: inherit;
      text-decoration: none;
    }
    &_link:hover{
      color: #3a89ff
    }
  }
}
.category_icon{
  max-width: 100%;
  max-height: 100%;
  color: rgb(234, 53, 45);
  height: 12px;
  margin-top: 12px;
  margin-right: 4px;
  box-sizing: border-box;
}
.search_brand{
  cursor: pointer;
  height: 44px;
  position: relative;
  padding-right: 0px;
  z-index: 3;
  padding: 0px 15px;
  &_link{
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
  }
  &_link:hover{
    color: #3a89ff
  }
}

.brand_icon{
  max-width: 100%;
  max-height: 100%;
  color: rgb(234, 53, 45);
  height: 12px;
  margin-top: 12px;
  margin-right: 4px;
  box-sizing: border-box;
}
.user_links{
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  span:hover{
    color: rgb(74, 146, 228);
  }
  svg:hover{
    color: rgb(74, 146, 228);
  }
}

ul{
  padding: 0;
}

li{
  list-style: none;
}

h2{
  line-height: 1.4;
}

h4{
  margin-top: 40px;;
  margin-bottom: 5px;
}

figure{
  margin: 0 0;

}
.main_contents{
  margin: 20px auto 0;
  width: 1020px;
}

.side_bar{
  float: left;
  width: 280px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 40px;
  &_name li{
    font-size: 14px;
    display: block;
    border-top:  #9F99A3;
    border-left:  #9F99A3;
    border-right: #9F99A3;
    border-bottom:  #9F99A3;
    background-color: #FFFFFF;
    padding: 3px 10px;
    color: #333;
    height: 40px;
    width: 230px; 
    margin: 0px;
    line-height: 40px;
    margin: 1px;
  }
  &_name li:hover{
    border-top: #BABABA;
    border-left: #BABABA;
    border-right: #BABABA;
    border-bottom: #BABABA;
    background-color: rgb(247, 247, 247);
    margin: 1px;
  }
}

.fa-chevron-right {
  float: right;
  margin-right: 5px;
  margin-top: 12px;
  color: #dddddd;
}

li:hover .fa-chevron-right{
  color: #333;
  transform: translate(5px);
  transition: all 0.4s;
}

.header_merpay{
  margin-top: 0px;
  &_set{
    margin-top: 0px;
  }
}

.main{
  width: 700px;
  float: right;
  clear: both;
}

.upper{
  margin-top: 15px;
}

.border_radius{
  border-radius: 60px;
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-top: 50px;
}

.mypage_name{
  text-align: center;
  display: block;
  background-image: url(user_bg.jpg);
  background-size: cover;
  height: 200px;
  line-height: 1.5em
}

.mypage_name a{
  display: block;
  text-decoration: none;
}

.upper ul{
  font-size: 14px;
  display: inline-flex;
  padding: 0 20px;
}

.math{
  color: #222222;
  font-weight: bold;
  margin-left: 5px;
}

.mypage_tabs{
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  width: 700px;
  margin: 0 auto;
  cursor: pointer;
  padding-bottom: 1px;
}

.lower_tabs{
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  width: 700px;
  margin: 0 auto;
  cursor: pointer;
  padding-bottom: 1px;
}

.tab_item1{
  cursor: pointer;
  font-size: 16px;
  height: 80px;
  width: calc(100%/2);
  background-color: #ececec;
  line-height: 75px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  :hover{
    color: rgb(115, 115, 115);
  }
}

input[name="tab_item1"]{
  display: none;
}

input[name="tab_item2"]{
  display: none;
}

.list ul{
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  
}

#notice:checked ~ #notice_contents,
#todo:checked ~ #todo_contents{
  display: block;
}

#transaction:checked ~ #transaction_contents,
#past_transaction:checked ~ #past_transaction_contents{
  display: block;
}

.mercari_icon{
  height: 110px;
  width: 110px;
  opacity: 0.1;
  -webkit-filter: grayscale(100%);
}

.tab_item2{
  cursor: pointer;
  height: 80px;
  width: calc(100%/2);
  background-color: #ececec;
  line-height: 75px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  :hover{
    color: rgb(115, 115, 115);
  }
}

.tab_contents{
  text-align: center;
  display: none;
  padding: 40px 40px 60px;
  clear: both;
  overflow: hidden;
  color: #9F99A3;
}

.mypage_tabs input:checked + .tab_item1 {
  background-color: #ffffff;
  color: #333;
  border-top: 2px solid #cc4b4b;
}

.lower_tabs input:checked + .tab_item2 {
  background-color: #ffffff;
  color: #333;
  border-top: 2px solid #cc4b4b;
}

.list ul{
  display: block;
  background: #eee;
  height: 56px;
  font-size: 14px;
  color: #333;
  margin: 15px;
  line-height: 56px;
  text-align: center;
}

.list ul:hover{
  background: rgb(250, 250, 250);
}

.lower{
  margin: 40px 0 40px;
  background: #fafafa;
  ul{
    height: 52px;
    text-align: left;
    font-size: 16px;
    line-height: 52px;
    padding: 20px;
  }
}

.sell_btn{
  position: fixed;
  font-size: 22px;
  bottom: 32px;
  width: 160px;
  height: 160px;
  background-color: #ea352d;
  color: #fff;
  border-radius: 50%;
  z-index: 1000;
  right: 30px;
  text-align: center;
  text-decoration: none;
}

.footer_sell_btn div{
  margin: 30px 0 0;
}

.fa-camera{
  font-size: 2.7em;
  display: inline-block;
}

aside{
  height: 260px;
  width: 100%;
}

.bottom_banner{
  display: flex;
  background: url(download_bg_pc.jpg);
  background-position: center;
  background-size: cover;
  height: 260px;
  width: 100%;
  position: relative;
  &_pc {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }
    &_pc_block{
      color: #ffffff;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      position: absolute;
      left: 330px;
      top: 50px;
  }
    &_pc_icon{
      margin: 20px 0;
      display: flex;
    }
    &_pc_block h2{
      font-size: 24px;
      margin: 0;
    }
    &_pc_block p{
      font-size: 35px;
      margin: 10px 0 0;
    }
}

.bottom_banner_pc>figure img{
  position: absolute;
  height: 260px;;
  width: 300px;
  right: 350px;
}

.marcari_icon_pc{
  height: 68px;
  width: 68px;
}

.AppStore{
  height: 45px;
  width: 133px;
}

.google-play-badge{
  height: 45px;
  width: 133px;
}

.app_icon {
  padding: 0 0;
  display: flex;
  margin: 15px;
  li{
    margin: 0 8px;
  }
}

.footer {
  clear: both;
  width: 1440px;
  height: 389px;
  background-color: #222222;
  h2{
    font-size: 16px;
    font-weight: bold;
  }
  a{
    color: #BABABA;
    font-size: 12px;
    text-decoration: none;
  }
}

.top {
  width: 1020px;
  height: 296px;
  margin: 0px 210px;
  padding-top: 10px;
}

.first {
  width: 207.17px;
  height: 240px;
  display: inline-block;
  float: left;
  white-space: nowrap;
  margin-top: 5px;
}

.title {
  width: 167.17px;
  height: 22px;
  color: #FFFFFF;
  font-size: 14px;
}

.content {
  width: 167.17px;
  height: 202px;
  margin: 0px 0px 0px 0px;
  padding-top: 5px;
  li{
    width: 167.17px;
    height: 14px;
    margin-top: 16px;
    list-style: none;
    font-size: 10px;
    text-align: left;
    text-decoration: none;
  }
  a{
    width: 120px;
    height: 14px;
    color: #BABABA;
    text-decoration: none;
  }
}

.sc-cBrjTV.gdPTKQ {
  width: 50px;
  height: 24.84px;
  margin: 30px 0px 0px;
}

.jobs {
  width: 48px;
  height: 14px;
}

.press {
  width: 83.53px;
  height: 14px;
}

.blog {
  width: 59.53px;
  height: 14px;
}

.guidelines {
  width: 167.17px;
  height: 14px;
}

.left {
  width: 50px;
  height: 24.84px;
  color: #FFFFFF;
}

.portrait {
  width: 30px;
  height: 24.84px;
  color: #FFFFFF;
}

path {
  width: 28.79px;
  height: 24.84px;
}

.facebook {
  width: 26px;
  height: 26px;
  color: #FFFFFF;
}

svg {
  width: 28px;
  height: 26px;
  margin-top: 28.84px;
  color: #FFFFFF;
  float: left;
}

.second {
  width: 230.33px;
  display: inline-block;
  float: left;
  white-space: nowrap;
  margin-top: 5px;
}

.liS {
  width: 190.33px;
  height: 14px;
  margin-top: 16px;
  list-style: none;
  font-size: 10px;
  text-align: left;
  text-decoration: none;
}

.contentS {
  width: 190.33px;
  height: 240px;
  margin: 0px;
  padding-top: 5px;
}

.titleH {
  width: 167.17px;
  height: 22px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: left;
}

.third {
  width: 438.59px;
  height: 166px;
  display: inline-block;
  float: left;
  line-height: 1em;
  margin-top: 5px;
}

.titleP {
  width: 398.59px;
  height: 22px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: left;
}

.hidari {
  width: 199.3px;
  height: 144px;
  display: inline-block;
  float: left;
  padding: 15px 10px 0px 0px;
  margin-top: -15px;
}

.contentT {
  margin: 0;
  width: 189.3px;
  height: 128px;
  padding-left: 0px;
}

.migi {
  width: 199.3px;
  height: 144px;
  display: inline-block;
  float: left;
  padding: 15px 0px 0px 10px;
  margin-top: -15px;
}

.liT {
  width: 189.32px;
  margin: 16px 0px 0px;
  list-style: none;
  font-size: 10px;
  text-align: left;
  text-decoration: none;
}

.fourth {
  width: 112.05px;
  height: 86px;
  display: inline-block;
  float: left;
  margin-top: 5px;
}

.country {
  width: 72.05px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: left;
}

.c {
  height: 48px;
  padding: 0px;
  margin: 0px;
}

.nippon {
  width: 72.05px;
  height: 32px;
  margin-top: 18px;
  list-style: none;
  font-size: 10px;
  text-align: left;
}

.n {
  width: 72.05px;
  height: 16px;
  margin-top: 16px;
  text-decoration: none;
}

.nip {
  display: block;
  margin-top: 0px;
}

.bottom {
  width: 1020px;
  height: 33px;
  margin: 30px 190px 20px 210px;
}

.logo {
  width: 124px;
  height: 33px;
  float: left;
}

.trademark {
  width: 765px;
  height: 12px;
  font-size: 12px;
  margin-top: 15px;
}

span {
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  float: left;
}