
.top_base{
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header{
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  z-index: 3;
  display: block;
}

.menu_bar{
  -webkit-box-align: center;
    width: 1020px;
    height: 100px;
    margin: 0px auto;
    padding: 8px 0px 0px;
    box-sizing: border-box; 
}

.headup{
  display: flex;
  width: 1020px;
  height: 40px;
}

.mercarillogo{
  -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: 134px;
    color: inherit;
    text-decoration: none;
}

.logo_img{
  margin-right: 45px; 
  height: 36px;
}

.form{
  position: relative;
  width: 100%;
}

.search_form{
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  height: 40px;
  line-height: 1.4em;
  position: relative;
  width: 841px;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  padding: 0px 50px 0px 10px;
  transition: all 0.3s ease-out 0s;
  box-sizing: border-box; 
}

.search_button{
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  -webkit-appearance: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 0px 4px 4px 0px;
  padding: 0px;
  box-sizing: border-box; 
}

.button_a{
  max-width: 100%;
  max-height: 100%;
  color: rgb(34, 34, 34);
  height: 14px;
  margin-top: 2px;
  width: 14px;
}

.headdown{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 8px;
  box-sizing: border-box;
}

.search{
  display: flex;
  margin-left: -3px;
  box-sizing: border-box;
}

.search_category{
  padding-left: 0px;
  cursor: pointer;
  height: 44px;
  position: relative;
  z-index: 3;
  padding: 0px 10px;
  box-sizing: border-box;
}

.search_category_link{
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  white-space: nowrap;
  color: inherit;
  text-decoration: none;
}

.search_category_link svg{
  max-width: 100%;
  max-height: 100%;
  color: rgb(234, 53, 45);
  height: 12px;
  margin-right: 4px;
  margin-top: 12px;
  box-sizing: border-box;
  width: 20;
}

.search_brand{
  cursor: pointer;
  height: 44px;
  position: relative;
  padding-right: 0px;
  z-index: 3;
  padding: 0px 10px;
}

.search_brand_link{
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  white-space: nowrap;
  color: inherit;
  text-decoration: none;
}

.search_brand_link svg{
  max-width: 100%;
  max-height: 100%;
  color: rgb(234, 53, 45);
  height: 12px;
  margin-right: 4px;
  margin-top: 12px;
  box-sizing: border-box;
}

.user_page_links{
  display: flex;
  box-sizing: border-box;
}

.sign_up{
  text-align: center;
}

.sign_up_link{
  background-color: rgb(234, 53, 45);
  color: rgb(255, 255, 255);
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(234, 53, 45);
  border-image: initial;
  border-radius: 4px;
  padding: 8px 10px;
  text-decoration: none;
}

.sign_in{
  text-align: center;
  margin-left: 11px;
}

.sign_in_link{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 149, 238);
  display: block;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 149, 238);
  border-image: initial;
  border-radius: 4px;
  padding: 8px 10px;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
}

.slider{
  display: flex;
  align-items: center;
  position: relative;
  max-width: 100%;
  height: 360px;
  object-fit: cover;
  box-sizing: border-box;
  margin: 0 auto;
  .slideArrow{
    position: absolute;
    top: 50%;
    z-index: 3;
    left: 60px;
    box-sizing: border-box;
    cursor : pointer;
  }
  .slideArrow2{
    position: absolute;
    top: 50%;
    z-index: 3;
    right: 0;
    width: 31px;
    height: 46px;
    margin-right: 60px;
    box-sizing: border-box;
    cursor : pointer;
  }
}
.slick-dots {
  text-align: center;
  bottom: 5px;
  box-sizing: border-box;
  z-index: 2;
  li {
    display: inline-block;
    font-size: 7px !important;
    vertical-align: bottom;
    box-sizing: border-box;
    button{
      position: relative;
      &:before{
        content: '●';
        font-size: 7px !important;
        color: #fff !important;
        position: absolute;
        box-sizing: border-box;
      }
    }
  }
}
.campgoods_img{
  ul{
    .CampCampain{
      margin: 0 auto;
      width: 100%; 
      height: 390px;
      // object-fit: cover;
      box-sizing: border-box;
      align-items: center;
    }
  }
}

.smartphone_img{
  background-image: image-url("top-banner-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 66vh;
  // object-fit: cover;
  box-sizing: border-box;
  margin: 0 auto;
  &_text{
    position: absolute;
    height: 330px;
    // width: 100%;
    // margin-left: 250px;
    // margin-right: 250px;
    // margin-top: 20px;
    color: #383c3c;
    z-index: 2;
    box-sizing: border-box;
    margin: 20px 350px 0 350px;
    h2{
      font-size: 58px;
      font-weight: 550;
      line-height: 1.4;
      width: 780px;
      height: 168px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }
    p{
      font-size: 18px;
      margin: 0 0 24px;
      line-height: 1.7777;
      width: 780px;
      height: 67px;
      box-sizing: border-box;
    }
  } 
}

.app_icon{
  text-align: left;
  height: 50px;
  width: 420px;
  box-sizing: border-box;
  .AppStore1{
    height: 50px;
    width: 170px;
    box-sizing: border-box;
    margin-left: -15px;
    margin-top: -10px;
  }
  .google-play-badge1{
    height: 50px;
    width: 170px;
    box-sizing: border-box;
    margin-left: 0;
    margin-top: -10px;
}
}

.smartphone_img>figure img{
  height: 390px;
  width: 440px;
  bottom: 400px;
  margin: 0 40% 0 50%;
  z-index: 2;
  box-sizing: border-box;
}

.recommend{
  max-width: 1020px;
  padding: 0px;
  width: 100%;
  margin: 0px auto;
}

.center_box{
  position: relative;
}

.popular_recommend{
  padding: 56px 0px 30px;
  background-color: rgb(255, 255, 255);
  left: 50%;
  margin-left: -50vw;
  position: relative;
  top: 0px;
  width: 100vw;
  box-sizing: border-box;
  display: block;
}

.popular_category{
  margin-bottom: 16px;
  text-align: center;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

.categories{
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
}

.categories2{
  display: block;
  text-align: center;
  width: 100%;
  margin: -10px 0px 0px -10px;
  list-style: none;
}

.categories3{
  margin: 10px 0px 0px 10px;
  display: inline-block;
}

.categories4{
  background-color: rgb(239, 239, 239);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  padding: 8px 16px;
  color: inherit;
  text-decoration: none;
}

.new_items{
  padding: 42px 0px 100px;
}

.category_name{
  margin-bottom: 16px;
  align-items: flex-end;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

._new{
  flex: 1 1 0%;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
}

.more_items{
  font-size: 14px;
  padding: 5px 16px 5px 5px;
  color: rgb(0, 149, 238);
  display: block;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  margin: 0px;
  box-sizing: border-box;
  cursor: pointer;
}

.more_items::before{
  height: 10px;
  width: 10px;
  bottom: 0px;
  content: "";
  position: absolute;
  right: 2px;
  top: 0px;
  transform: rotate(-45deg);
  border-bottom: 2px solid rgb(0, 149, 238);
  border-right: 2px solid rgb(0, 149, 238);
  margin: auto;
}

.item_img_grid{
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 20px;
  display: grid;
}


.style_link{
  width: 188px;
  height: 252px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}
.style_link:hover{
  border: solid 1px #07a5e4;
  margin: -1px;
}

.style_card{
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  width: 188px;
  height: 252px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.18);
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
  margin: 0;
  overflow: hidden;
  z-index: 0;
  .style_thumbnail{
    height: 0;
    overflow: hidden;
    padding: 0 0 100%;
    position: relative;
    width: 100%;
    img{
      width: 188px;
      height: 188px;
      object-fit: cover;
      vertical-align: top;
      bottom: 0;
      top: 0;
      position: absolute;
      z-index: 1;
    }
    span{
      -webkit-box-align: center;
      align-items: center;
      background: rgba(0,0,0,.4);
      border-radius: 0 14px 14px 0;
      bottom: 8px;
      box-sizing: border-box;
      color: #ffffff;
      display: inline-flex;
      font-size: 17px;
      height: 28px;
      letter-spacing: .02em;
      margin: 0;
      padding: 0 12px;
      position: absolute;
      z-index: 2;
    }
  }
  figcaption{
    box-sizing: border-box;
    width: 100%;
    height: 64px;
    line-height: 1.4em;
    padding: 0 12px;
    white-space: normal;
    word-break: break-word;
    span{
      margin-top: 10px;
      text-align: left;
      color: #222;
      font-size: 14px;
      height: 2.8em;
      overflow: hidden;
      display: inline-block;
      position: relative;
    }
  }
<<<<<<< Updated upstream
}

=======
}
>>>>>>> Stashed changes
